[2016-03-15 16:28] hiteshbheda opened #1 "[1.0.13] Sony xPeria Z / 5.1.1 - Audio not added - create lomotif and add song"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Select 3-4 photos from Camera folder from My Video tab
4. Select any song from My Music tab
5. Play lomotif

Expected result: Lomotif should be played with audio

Actual result: Audio added but unable to play

![screenshot_2016-03-15-21-51-53](https://cloud.githubusercontent.com/assets/9691390/13785270/f0940c44-eaf8-11e5-93

[2016-03-15 16:47] hiteshbheda opened #2 "[1.0.13] Sony xPeria Z / 5.1.1 - Back Button Bug on Photo selection screen - While selecting photos and try to go back at My Video tab"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Select 3-4 photos from Camera folder from My Video tab
4. Click on Back button to go back at home screen

Expected result: It should redirect us to previous screen / home screen

Actual result: Back button does not work

[2016-03-15 16:55] hiteshbheda opened #3 "[1.0.13] Sony xPeria Z / 5.1.1 - Back Button Bug on Music screen - While selecting music and try to go back on Find Music tab"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Select 3-4 photos from Camera folder from My Video tab
4. Select any song from Find Music tab
5. Click on Back button (available at top left corner) to go back at previous screen

Expected result: It should redirect us to previous screen / My video screen

Actual result: Back button does not work on Find Music tab

![screen

[2016-03-15 17:26] hiteshbheda opened #4 "[1.0.13] Sony xPeria Z / 5.1.1 - Play button Bug - Play / Pause button not available to play and pause created lomotif"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Select 3-4 photos from Camera folder from My Video tab
4. Select any song from Find Music tab
5. Now, created lomotif will play automatically
6. Try to pause lomotif

Expected result: Lomotif should be pause and play when clicked on screen

Actual result: Play / Pause button not available, while clicking on lomotif screen n

[2016-03-15 17:43] hiteshbheda opened #5 "[1.0.13] Sony xPeria Z / 5.1.1 - Close Button (X) Bug - At export screen, Close button not working"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Select photos from Camera folder from My Video tab
4. Select any song from Find Music tab
5. Click on Export button
6. Click on Close button (top right corner on the screen)

Expected result: Export lomotif window / screen should be closed when clicked on close button

Actual result: There is no effect when clicked on Close

[2016-03-16 00:09] vysohanych opened #6 "[1.0.13] LG Nexus 5X / Android 6.0.1 - Export - The application crashes when user uses video from com.lomotif.android.dev"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Expand com.lomotif.android.dev folder
4. Select the video from com.lomotif.android.dev folder
5. Tap Apply button on Albums screen
6. Select any song on Find Music
7. Tap Use Music button
8. Tap Apply button on Find Music screen
9. Tap export button on Create screen

Expected result: User sees sharing screen

Actual result: Ap

[2016-03-16 08:47] hiteshbheda opened #7 "[1.0.13] Sony xPeria Z / 5.1.1 - Video not added - create lomotif using video and add song"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Select any videos from video folder from My Video tab
4. Select any song from Find Music tab
5. Play lomotif

Expected result: Lomotif should be played with audio and video

Actual result: Lomotif does not contain video and audio

[2016-03-16 09:04] vysohanych opened #8 "[1.0.13] LG Nexus 5X / Android 6.0.1 - My Video - Keyboard doesn't disappear when user taps close button on My Video screen"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Tap on search field -> Keyboard appears
4. Tap close button on My Video screen

Expected result: User sees home screen without keyboard

Actual result: User sees home screen with opened keyboard

Video: [Keyboard.zip](https://github.com/Lomotif/lomotif-android-issues/files/175556/Keyboard.zip)

[2016-03-16 11:10] vysohanych opened #9 "[1.0.13] LG Nexus 5X / Android 6.0.1 - My Video - Applcation crashes when user taps back button on My Video screen"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Tap on search field
4. Open nicki minaj folder
5. Select a few motifs
6. Play any motif
7. Tap back button on My Video screen

Expected result: User sees My Video screen with closed nicki minaj folder

Actual result: Applicaton crashes

Video: [2016_03_16_13_04_29.zip](https://github.com/Lomotif/lomotif-android-issues/files/17

[2016-03-16 13:42] hiteshbheda opened #10 "[1.0.13] Sony xPeria Z / 5.1.1 - App crash - Open created lomotif"
Frequency: Every time

Action:
1. Launch Lomotif
2. Open any created Lomotif which has used audio song from My Music

Expected result: Lomotif should be opened and available to play

Actual result: Application crash

![screenshot_2016-03-15-22-03-59_338x600](https://cloud.githubusercontent.com/assets/9691390/13814099/04f28ad2-ebab-11e5-8182-01df59d63e5d.jpg)

![screenshot_2016-03-15-22-04-05_338x6

[2016-03-16 13:50] vysohanych opened #11 "[1.0.13] LG Nexus 5X / Android 6.0.1 - Find Music - User can't cancel loading of song"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Select any video on My Video screen
4. Tap apply button on My Video screen
5. Select any song on Find Music screen
6. Tap Use 30 Seconds Preview button
7. Try cancel loading of song

Expected result: Song's loading is canceled

Actual result: User can't cancel loading

Video: [2016_03_16_15_42_28.zip](https://github.com/Lomoti

[2016-03-16 14:49] vysohanych opened #12 "[1.0.13] LG Nexus 5X / Android 6.0.1 - Find Music - User sees always loader if he/she tries load a song when wi-fi is turned off"
Frequency: Every Time

Action:
1. Turn off wi-fi
2. Launch Lomotif
3. Tap START button
4. Select any video or picture on My Video screen
5. Select the song '7 Years - Lukas Graham' on My Video screen
6. Tap Use 30 Seconds Preview button on My Video screen

Expected result: User sees error message that network is not available

Actual result: User sees always loader on My Video screen

Video: [2016

[2016-03-16 17:39] hiteshbheda commented on #11
@xiuie @jpaulo1205 I can replicate this issue every time on Sony xPeria Z / Android 5.1.1

[2016-03-17 03:59] hiteshbheda commented on #12
@xiuie I can replicate this. Continuous loading songs even if wi fi is disabled.

[2016-03-17 06:33] hiteshbheda opened #13 "[1.0.13] Sony xPeria Z / 5.1.1 - Instagram and Facebook Folder Bug - At My Video screen, Instagram and Facebook button not working"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Click on Either Instagram or Facebook folder to select photos

Expected result: Clicked folder (Instagram / Facebook) should be opened

Actual result: Instagram and Facebook folder clicking not working

[2016-03-17 07:50] hiteshbheda opened #14 "[1.0.13] Sony xPeria Z / 5.1.1 - Search tab Bug - At My Video screen, Search tab not working"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Observe available folders for photos at My Video tab
4. Click on search tab
5. Search for "Facebook" word or any other word

Expected result: Searched folder / photos / videos should be display as results

Actual result: No result display, search tab not working

![1](https://cloud.githubusercontent.com/assets/9691390/13839

[2016-03-17 08:14] hiteshbheda opened #15 "[1.0.13] Sony xPeria Z / 5.1.1 - Filter button Bug - Filter button does not make any effect on lomotif"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Select photos from Camera folder from My Video tab
4. Select any song from Find Music tab
5. Now, Click on Filter button and male it ON
6. Observe playing lomotif

Expected result: Filter effect should be applied on lomotif

Actual result: When doing Filter value ON, it does not affect on the playing lomotif screen

[2016-03-17 08:45] hiteshbheda opened #16 "[1.0.13] Sony xPeria Z / 5.1.1 - Unable to scroll up - During creating lomotif, once reached at bottom at song waves then unable to scroll up"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Select 3-4 photos from Camera folder from My Video tab
4. Select any song from Find Music
5. Now, scroll down the screen and go at the bottom
6. Again try to scroll up

Expected result: Screen should ne scrolled up

Actual result: Unable to go up by scroll up the screen

![screenshot_2016-03-15-23-10-25](https://cloud.githu

[2016-03-17 09:28] hiteshbheda opened #17 "[1.0.13] Sony xPeria Z / 5.1.1 - Video selection Bug - Selecting multiple videos and then unselect them create unusual behavior"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on START button
3. Click Video folder in My Video tab
4. Select multiple videos from video folder from My Video tab
5. Click on back button from left bottom corner
6. Again click on Video folder
7. Now, unselect all the previously selected videos

Expected result: Selected videos should be unselected by processing these steps

Actual result:

[2016-03-17 09:45] vysohanych opened #18 "[1.0.13] Samsung Galaxy Tab S 10.5 / Android 4.4.2 - Settings - Keyboard doesn't disappear when user sends a feedback"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap Settings icom
3. Tap Send Feedback button
4. Use Gmail application for feedback
6. Rotate device to landscape mode
7. Enter feedback and send it

Expected result: User sees Settings screen without keyboard

Actual result: User sees Settings screen with opened keyboard

Video: [Recording.zip](https://github.com/Lomotif/lomotif-android-issues/f

[2016-03-17 09:51] vysohanych opened #19 "[1.0.13] Samsung Galaxy Tab S 10.5 / Android 4.4.2 - All Application - Not user friendly font's color in all application"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Open different screens

Expected result: More user friendly font's color in all application

Actual result: Not user friendly font's color in all application

![screenshot_2016-03-17-11-36-23](https://cloud.githubusercontent.com/assets/3593359/13842379/81b007b2-ec36-11e5-8553-e282331c3908.png)
![screenshot_2016-03-17-11-36-30](https://cloud.githu

[2016-03-17 10:50] vysohanych opened #20 "[1.0.13] Samsung Galaxy Tab S 10.5 / Android 4.4.2 - Home screen - The application crashes when user tries to open two lomotifs at the same time"
Frequency: Some Time

Action:
1. Launch Lomotif
2. Try open two lomotifs at the same time

Expected result: Only one lomif is opened

Actual result: The application crashes

Video: [Recording.zip](https://github.com/Lomotif/lomotif-android-issues/files/177671/Recording.zip)

[2016-03-17 11:21] Dipamit opened #21 "[1.0.13] Motorola Nexus 6/ Marshmallow 6.0.1 -Create- Unable to see text box when keypad is open."
Frequency : Every time

Action:
1. Open created Lomotif video or create new.
2. scroll down and try to enter text in "Enter Title".

Expected result: Title should Able to see  while keypad is open.

Actual result: Unable to see text box when keypad is open.
![screenshot_20160317-162600](https://cloud.githubusercontent.com/assets/17335200/13844330/306990ca-ec5f-11e5-8e9d-65c5d19a74f9.png)

[2016-03-17 12:55] vysohanych opened #22 "[1.0.13] Asus Memo Pad FHD 10 / Android 4.2.2 - My Video - Error message doesn't appear when no search result"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Enter search text when no search result on My Video screen

Expected result: User sees error message that no search result

Actual result: User sees empty white area on My Video screen

![screenshot_2016-03-17-13-54-09](https://cloud.githubusercontent.com/assets/3593359/13846508/484fad00-ec50-11e5-915a-8b8f93c3c4da.jpg)

[2016-03-17 15:02] hiteshbheda commented on #22
I can replicate this in Android 5.1.1

[2016-03-17 22:39] vysohanych opened #23 "[1.0.13] Asus Memo Pad FHD 10 / Android 4.2.2 - Create - Black square appears instead video when user uses big video for lomotif"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Open folder with big video on My Video screen
4. Select the big video on My Video screen
5. Tap apply button on My Video screen
6. Tap apply button on Find Music screen

Expected result: User sees video on Create screen or user can't use very big files

Actual result: Black square appears instead video on Create screen

Video:

[2016-03-17 23:34] vysohanych opened #24 "[1.0.13] Asus Nexus 7 / Android 5.1.1 - My Video - Incorrect view of search text when user uses very long text"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Enter long search text on My Video screen

Expected result: User sees video on Create screen or user can't use very big files

Actual result: Search text can overlap back button on My Video screen. Also search text doesn't end with three dots.

Note: The same behavior on Find music screen

![screenshot_2016-03-18-01-27-29](htt

[2016-03-17 23:43] vysohanych opened #25 "[1.0.13] Asus Nexus 7 / Android 5.1.1 - My Video - Application crashes when user taps physical back button on Find Music screen and then on My Video screen"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Select any video on My Video screen
4. Tap apply button on My Video screen
5. Tap physical back button on Find Music screen
6. Tap physical back button on My Video screen

Expected result: User sees home screen

Actual result: Application crashes

Video: [Recording.zip](https://github.com/Lomotif/lomotif-android-issues/files/1

[2016-03-18 19:45] xiuie commented on #23
What do you mean by "big video"? You mean the resolution? Or file size? How large is the video file that ended our black?

[2016-03-18 19:47] xiuie commented on #21
@pmtheint This works like the iOS one.. No feedback while typing.

[2016-03-18 19:50] xiuie commented on #18
Does it dismiss once you tap something else @vysohanych ?

[2016-03-18 19:54] xiuie commented on #15
Sorry! Forgot to mention current version does not have filters

[2016-03-18 19:54] #15 closed, assigned to nobody

[2016-03-18 19:57] xiuie commented on #14
@benchang I think "Search Motifs" is currently turned off for Android? If so, please close this issue. Thanks.

[2016-03-18 19:59] xiuie commented on #13
What are the launch features for Android? If Instagram and Facebook import feature will not be in the launch build, please close this issue.

[2016-03-18 19:59] vysohanych commented on #23
It's file size.

[2016-03-18 20:02] xiuie commented on #12
We need to include detection of wifi and a skip option into the flow, if users are not using internet. @jpaulo1205 @pmtheint

Dialogue box copy from iOS:

[When music page is loaded without internet]
No internet
The internet connection appears to be offline
Button: Ok

[When song is selected]
Error
Could not load preview. Please try selecting another song.
Button: Ok

[2016-03-18 20:12] xiuie commented on #7
@hiteshbheda Does this happen on multiple Android devices?

[2016-03-18 20:13] xiuie commented on #7
@paulyangzhiwen Need a charged android device to try replicating some of these.

[2016-03-18 20:17] xiuie commented on #1
@hiteshbheda Is this still an issue?

[2016-03-18 20:18] vysohanych commented on #18
Keyboard disappears when user taps physical back button on device

[2016-03-19 03:54] hiteshbheda commented on #1
@xiuie Yes, i can still replicate this issue.

[2016-03-19 05:46] vysohanych commented on #23
Video has about 700 mb

[2016-03-19 15:14] hiteshbheda commented on #7
@xiuie sir i have only one android device now as in another two devices, app does not support because of down version of android OS

[2016-03-20 05:56] Dipamit commented on #13
I am able to reproduce this issue on Motorola Nexus 6 with Android 6.0.1

[2016-03-20 05:57] Dipamit commented on #19
I am able to reproduce this issue on Motorola Nexus 6 with Android 6.0.1

[2016-03-20 06:02] Dipamit commented on #21
This is not work as designed I think. When you tap on Title on Android, it hide the text box behind the Keypad, by which user can't check what he/she is typing. Where as in IOS when you tap on Title text box, it will open keypad but it showing Title text box top of the keypad by which user can see what he/she is typing. This should be resolved.

[2016-03-20 06:04] Dipamit commented on #9
Able to reproduce this issue for any video and perform above steps. Tested with Nexus 6 with Android 6.0.1.

[2016-03-20 07:35] Dipamit opened #26 "[1.0.13] Motorola Nexus 6/ Marshmallow 6.0.1 - Settings- Links under Settings are not working."
Frequency : Every time

Action:
1. Tap on Settings icon from top.
2. Tap on all link available on Settings page one by one.

Expected Result: All link on settings page should be working proper and i should takes user to respective pages.

Actual Result: News, Account Settings, Terms of Use and Privacy Policy (404 error), Restore Purchases, Tutorial link are not working.
[Settings.zip](https://gith

[2016-03-20 08:09] Dipamit opened #27 "[1.0.13] Motorola Nexus 6/ Marshmallow 6.0.1 - Create- Images are flicking while playing video."
Frequency : Sometime.

Action:
1. Tap on any created video.
2. Tap on Music for change.
3. Search for any Music and without select any music tap on Apply on top.
4. Check the video played again after it.

Expected Result: Video should be playing without any flicking.

Actual Result: Images are flicking during video playing.
[Flicking Images.zip](https://github.com/Lomotif/lomotif-android-issues/fi

[2016-03-20 18:33] Dipamit opened #28 "[1.0.13] Motorola Nexus 6/ Marshmallow 6.0.1 - Music- Cancel button is not working beside search Music."
Frequency : Always.

Action:
1. Tap on Start.
2. Select any Video and go next by tap on Apply.
3. Search for any Music and then try to tap on X icon beside search field.

Expected Result: Cancel should reset the entered value and should display back all results.

Actual Result: Cancel button is not working.
[Cancel Button on Video.zip](https://github.com/Lomotif/lomotif-android-issues/files/181443

[2016-03-20 18:40] Dipamit opened #29 "[1.0.13] Motorola Nexus 6/ Marshmallow 6.0.1 - Video- Search result behavior is not proper."
Frequency : Always.

Action:
1. Tap on Start.
2. Select any Video and go next by tap on Apply.
3. Search for any Music and tap on search from keypad.
4. Swipe down to refresh page and check page.
5. Then again tap on search button from keypad.

Expected Result:
- When Swipe and refresh the page, it should not show back default categories.
- NO Result and category should not be displayed to gather.

[2016-03-20 18:53] Dipamit opened #30 "[1.0.13] Motorola Nexus 6/ Marshmallow 6.0.1 - Music- Search Music with valid keyword is not working."
Frequency : Always.

Action:
1. Tap on Start.
2. Select any Video and go next by tap on Apply.
3. Search for any valid category e.g. Romantic in Music and then tap on search.

Expected Result: It should get matching result for Music. It should work like working in IOS application.

Actual Result: When you search for any Music with valid keyword. This is working proper with IOS application.
[Search

[2016-03-20 19:04] Dipamit opened #31 "[1.0.13] Motorola Nexus 6/ Marshmallow 6.0.1 - Video- Able to search with blank value."
Frequency : Always.

Action:
1. Tap on Start.
2. Tap on text box but don't enter any value and tap on search button.

Expected Result: It should show message like No Results also it should not redirects on search page when no value entered.

Actual Result: When keep blank it navigates to search page, also when there is not result it showing blank page.
[Search photo blank.zip](https://github.com/L

[2016-03-20 21:44] xiuie commented on #31
@paulyangzhiwen Please determine minimum features for Android launch. Should we hide Motifs tab enirely?

[2016-03-20 21:46] xiuie commented on #29
@Dipamit Video link doesn't work for me?

[2016-03-20 21:49] xiuie commented on #28
@Dipamit Will be helpful if you let me know also pressing other things e.g. deleting your search keywords, or pulling to refresh, loads the songs.

[2016-03-20 21:49] xiuie commented on #28
I will triage this bug assuming you CAN'T do that.

[2016-03-20 21:52] xiuie commented on #27
@Dipamit Will be helpful if you let me know approximately how often it happens.. e.g. only happened once although I created 50 Lomotifs while testing.

[2016-03-20 21:52] xiuie commented on #26
Should determine minimum features for Android launch. @paulyangzhiwen

[2016-03-21 04:04] xiuie commented on #7
@hiteshbheda can you try different file types and @jpaulo1205 thinks that this might be a file codec issue.

[2016-03-21 04:11] jpaulo1205 commented on #7
@hiteshbheda can also provide a recording of the issue? and possibly list of the video formats you've used, as xiu mentioned, it might be a codec issue. thanks

[2016-03-21 17:23] hiteshbheda commented on #7
@xiuie @jpaulo1205 I'm attaching video for this. Now it supports some time and some time it gets error.

Please find attached video.

https://drive.google.com/drive/u/0/folders/0B6P2U77GNA4UVlNSZUlTM2hSWlE

[2016-03-21 17:35] Dipamit commented on #28
I did simple thing, enter keyword and tap on Cancel button. It should just remove the entered value. This things working proper on Choose video page. I already posted behavior of pulling to refresh behavior.

[2016-03-21 17:36] Dipamit commented on #29
I have attached new video again. Check it out.

[2016-03-21 18:02] Dipamit commented on #27
I got this issue 3 times during my testing out of approx 15 Lomotif created. I can say this should be analyzed at coding side once as I got three times and which seems major problem. I confirmed about network, so not related to network.

[2016-03-23 07:28] jpaulo1205 commented on #1
Note: Fixed for next build (1.0.14)

[2016-03-23 07:30] jpaulo1205 commented on #7
@hiteshbheda sorry just checked. can you give open permission to the link? I can't access it. thanks

[2016-03-23 07:39] hiteshbheda commented on #7
@jpaulo1205 Hi. I have made it open access now. Now please check it.

Let me know still you need my help.

[2016-03-23 07:46] jpaulo1205 commented on #7
@hiteshbheda thanks! I just saw the video, can you replicate it again and this time, press the REPORT button? Need to see the crash log to determine the exact cause of the issue. Thanks!

[2016-03-23 07:55] hiteshbheda commented on #7
@jpaulo1205 Sure. I'll try to replicate it again by following mentioned steps. I'll intimate you.
Thanks!

[2016-03-23 08:38] jpaulo1205 commented on #23
This could be caused by either format unsupported or video processing time

[2016-03-23 08:43] jpaulo1205 commented on #10
Note: Fixed for next build (1.0.14)

[2016-03-23 08:45] vysohanych commented on #23
Iit's MP4 format

[2016-03-23 08:49] jpaulo1205 commented on #20
Note: Fixed for next build (1.0.14)

[2016-03-23 08:49] jpaulo1205 commented on #25
Note: Fixed for next build (1.0.14)

[2016-03-23 08:49] jpaulo1205 commented on #28
Note: Fixed for next build (1.0.14)

[2016-03-23 08:51] jpaulo1205 commented on #30
client side is only displaying what is returned by the server. I reckon it's due to the limited music source for Android client in server, can you confirm @ruiwen ?

[2016-03-23 08:52] jpaulo1205 commented on #19
Note: Fixed for next build (1.0.14)

[2016-03-23 08:52] jpaulo1205 commented on #17
Note: Fixed for next build (1.0.14)

[2016-03-23 09:00] jpaulo1205 commented on #16
it is working as intended (when waveform is in focus, it can only be scrolled left to right and vice versa)

as a fix, added some space above the waveform to allow scroll up/down

Note: Fixed for next build (1.0.14)

[2016-03-23 09:05] hiteshbheda commented on #16
@jpaulo1205 Thanks.!! But once user reached to bottom, he/she should go in up direction to check or play lomotif.

But if it works as design then it's fine.

[2016-03-23 09:13] jpaulo1205 commented on #8
Note: Fixed for next build (1.0.14)

[2016-03-23 09:13] jpaulo1205 commented on #6
Note: Fixed for next build (1.0.14)

[2016-03-23 09:13] jpaulo1205 commented on #5
Note: Fixed for next build (1.0.14)

[2016-03-23 09:13] jpaulo1205 commented on #3
Note: Fixed for next build (1.0.14)

[2016-03-23 09:14] jpaulo1205 commented on #2
Note: Fixed for next build (1.0.14)

[2016-03-23 09:18] jpaulo1205 commented on #31
Note: Fixed for next build (1.0.14)

[2016-03-23 09:24] jpaulo1205 commented on #29
Note: Fixed for next build (1.0.14)

[2016-03-23 09:30] jpaulo1205 commented on #26
@xiuie @paulyangzhiwen I removed the items in the settings screen that is not yet implemented for the moment

Note: Fixed for next build (1.0.14)

[2016-03-23 09:31] jpaulo1205 commented on #24
Note: Fixed for next build (1.0.14)

[2016-03-23 09:31] jpaulo1205 commented on #22
Note: Fixed for next build (1.0.14)

[2016-03-23 09:33] jpaulo1205 commented on #18
Note: Fixed for next build (1.0.14)

[2016-03-23 17:07] hiteshbheda commented on #7
@jpaulo1205 I can still replicate it. sometimes during playing lomotif and sometime during Exporting it.

I have sent you a REPORT from my android phone for this issue.

[2016-03-24 03:55] jpaulo1205 commented on #7
@hiteshbheda  thanks!

[2016-03-24 03:55] jpaulo1205 commented on #7
Note: Fixed for next build (1.0.14)

[2016-03-26 06:54] hiteshbheda commented on #6
@xiuie @jpaulo1205 I can't replicate it now on Sony xPeria Z / Android 5.1.1

[2016-03-26 07:06] hiteshbheda commented on #8
@xiuie @jpaulo1205 I can replicate it every time on Sony xPeria Z / Android 5.1.1

[2016-03-26 07:41] hiteshbheda commented on #9
@xiuie @jpaulo1205 I can reproduce it every time  on Sony xPeria Z / Android 5.1.1

[2016-03-26 08:00] hiteshbheda commented on #30
@xiuie @jpaulo1205 @ruiwen I can replicate this issue on Sony xPeria Z / Android 5.1.1.

But as @jpaulo1205 is suggesting, it may be the server issue, may be they have limited source or no categories available for audio songs.

[2016-03-26 08:28] hiteshbheda commented on #28
@xiuie @jpaulo1205 I can replicate the same issue every time on Sony xPeria Z / Android 5.1.1.
- When deleting search keyword will refresh the songs from server (correctly working)
- Enter keyword in search bar and pulling to refresh will give all songs list. (Not working properly - It should display only entered keyword results)
- Enter keyword and go back again load the song gives refreshed song

[2016-03-26 08:51] hiteshbheda commented on #25
@xiuie @jpaulo1205 I can replicate it every time on Sony xPeria Z / Android 5.1.1

[2016-03-26 08:53] hiteshbheda commented on #20
@xiuie @jpaulo1205 I can replicate it every time on Sony xPeria Z / Android 5.1.1.

[2016-03-27 12:46] ruiwen commented on #30
Sorry guys, yes, we're using a limited music source for testing on Android
now, so not all search terms may work.

Search for song terms that appear on the default song list that appears
instead (essentially just filtering the list, not searching).

/cc @hiteshbheda @jpaulo1205 @xiuie
On 26 Mar 2016 16:00, "hiteshbheda" notifications@github.com wrote:

[2016-03-28 04:30] pmtheint commented on #21
Interesting. That's more on platform limitation because the built-in keyboard is too large. Will figure out a work around.

[2016-03-29 13:52] hiteshbheda commented on #31
@xiuie @paulyangzhiwen @jpaulo1205 I can replicate this issue for build [1.0.14] on Sony xPeria Z / Android 5.1.1 and on Asus Zenfone Go 4.5 / Android 5.1

[2016-03-29 14:03] hiteshbheda opened #32 "[1.0.13] Sony xPeria Z / 5.1.1 - App Crash - create lomotif using search audio and refresh list"
Frequency : Every time

Action:
1. Tap on Start.
2. Select any Video from My Video tab
3. On next tab, In search bar enter word "get"  and click on search button from keyboard
4. Pull down the list and select "Getting There" song

Expected Result: Song should be added

Actual Result: Application crash

[2016-03-29 17:42] hiteshbheda commented on #32
@xiuie This issue can also applicable without searching process:

Steps given below:

Frequency: Every time

Action:
1. Tap on Start.
2. Select any Video from My Video tab
3. On next tab, lists of songs available in Find Music tab
4. Pull down the list to refresh songs in Find Music
5. Select any song from available list

Expected Result: Song should be added

Actual Result: Application crash

[2016-03-29 21:07] vysohanych opened #33 "[1.0.14] Asus Nexus 7 / Android 5.1.1 - Export - Application crashes when user tries to export lomotif"
Frequency: Sometime

Action:
1. Launch Lomotif
2. Open any exists lomotif
3. Tap export button on Create screen

Expected result: User sees sharing screen

Actual result: Application crashes

Video: [Recording #71.zip](https://github.com/Lomotif/lomotif-android-issues/files/194338/Recording.71.zip)

Crash log: [crash_log.txt](https://github.com/Lomotif/lomotif-android-issues/files/194962/crash_log

[2016-03-30 07:07] vysohanych opened #34 "[1.0.14] Asus Nexus 7 / Android 5.1.1 - Home screen - Not user friendly delete buttons on home screen"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Verify delete buttons on the home screen

Expected result: Delete buttons should more user friendly

Actual result: User sees not user friendly delete buttons

![2016-03-30_1009](https://cloud.githubusercontent.com/assets/3593359/14134519/86fce22e-f660-11e5-9bb0-e1aa593bffda.png)

[2016-03-30 07:40] vysohanych opened #35 "[1.0.14] Asus Nexus 7 / Android 5.1.1 - Find Music - Application crashes when user tries to load song into lomotif"
Frequency: Sometime

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select a few motifs on the Album screen
4. Tap apply button on the Album screen
5. Tap on 'Getting There - Slient Partner' song
6. Tap Use 30 Seconds Preview button and wait

Expected result: User sees Create screen

Actual result: Application crashes

Video: [Recording #54.zip](https://github.com/Lomotif/lomo

[2016-03-30 14:12] vysohanych commented on #6
@xiuie @jpaulo1205  I can reproduce it on version 1.0.14 (Asus Nexus 7 Android 5.1.1)

[2016-03-30 14:33] vysohanych commented on #29
@xiuie @jpaulo1205 I can reproduce it on v.1.0.14 (Asus Nexus 7 Android 5.1.1)

[2016-03-30 19:07] hiteshbheda opened #36 "[1.0.14] Sony xPeria Z / Android 5.1.1 - Unable to play Audio and Video - Create lomotif"
Frequency: Every time

Action:
1. Launch Lomotif
2. Select few pictures or videos from My Video tab
3. Select apply
4. Select My Music from Find Music tab
5. Select any audio song from the existing list
6. Create lomotif
7. Play lomotif

Expected result: Created Lomotif should be played with selected audio and video

Actual result: Audio and Video not available during lomotif playing

![screenshot

[2016-03-30 19:14] hiteshbheda commented on #35
@xiuie @vysohanych I can replicate this issue on Sony xPeria Z / Android 5.1.1.

I have tried it 6 times and application crash only once with mixing use of pictures and videos.

[2016-03-31 05:57] hiteshbheda commented on #34
@xiuie @pmtheint I can replicate this as Design Issue on Sony xPeria Z / Android 5.1.1

[2016-03-31 06:31] hiteshbheda commented on #33
@xiuie @jpaulo1205 I can't replicate this on Sony xPeria Z / Android 5.1.1.

I have tried it 7-8 times but no crash.

[2016-03-31 06:47] hiteshbheda commented on #7
@xiuie @jpaulo1205 I can replicate this same critical issue for Build version [1.0.14] on Sony xPeria Z / Android 5.1.1.

I don't know the problem. But it may be because of Unsupported video format.

[2016-03-31 07:15] hiteshbheda commented on #17
@xiuie @jpaulo1205 I can still replicate the same in build version [1.0.14] on Sony xPeria Z / Android 5.1.1

Frequency: Every time

[2016-03-31 08:03] pmtheint commented on #34
Noted and new button design is saved. Can close this issue now.

[2016-03-31 08:19] hiteshbheda opened #37 "[1.0.14] Sony xPeria Z / Android 5.1.1 - Blank Video - Create lomotif using camera roll pictures"
Frequency: Every time

Action:
1. Launch Lomotif
2. Select few pictures from Camera Roll from My Video tab
3. Select apply
4. Select any song from Find Music from Find Music tab
5. Create lomotif
6. Play lomotif

Expected result: Created Lomotif should be played with selected audio and video

Actual result: Video not displayed on the sceen during lomotif playing

![screenshot_2016-03-31-13-50-52](

[2016-03-31 09:05] hiteshbheda opened #38 "[1.0.14] Sony xPeria Z / Android 5.1.1 - Audio wave not working properly - Add audio and drag waves at the end"
Frequency: Every time

Action:
1. Launch Lomotif
2. Select few pictures from any category in My Video tab
3. Select apply
4. Select any song from Find Music in Find Music tab
5. Look into audio waves for added song
6. Drag audio waves at the end and put into blank (no sound) area
7. Play lomotif

Expected result: Audio should not be played as there is no sound in the audio format

Actual result: I

[2016-03-31 10:03] vysohanych commented on #2
@xiuie @jpaulo1205 Can't reproduce on build 1.0.14

[2016-03-31 10:05] vysohanych commented on #3
@xiuie @jpaulo1205 Can't reproduce on build 1.0.14

[2016-03-31 10:08] vysohanych commented on #4
@xiuie @jpaulo1205 Can't reproduce on build 1.0.14

[2016-03-31 10:36] vysohanych opened #39 "[1.0.14] Asus Nexus 7 / Android 5.1.1 - Create - Lomotif plays again from beginning when user resumes suspended video"
Frequency: Sometime

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select a few motifs on the Album screen
4. Tap apply button on the Album screen
5. Select any song on Find Music screen
6. Tap Use 30 Seconds Preview button
7. Stop video and resume it again

Expected result: Video continues playing for the current time

Actual result: Video plays from beginning

Video:

[2016-03-31 13:19] hiteshbheda commented on #4
@xiuie @jpaulo1205 I can't reproduce this issue on build [1.0.14] with Sony xPeria Z / Android 5.1.1

[2016-03-31 13:41] hiteshbheda commented on #3
@xiuie @jpaulo1205 I can't reproduce this issue on build [1.0.14] with Sony xPeria Z / Android 5.1.1

[2016-03-31 13:45] hiteshbheda commented on #2
@xiuie @jpaulo1205 I can't reproduce this issue on build [1.0.14] with Sony xPeria Z / Android 5.1.1

[2016-03-31 14:01] hiteshbheda commented on #39
@xiuie I can reproduce this issue every time for build [1.0.14] with Sony xPeria Z / Android 5.1.1

[2016-03-31 15:12] vysohanych commented on #1
@xiuie @jpaulo1205 Can't reproduce on build 1.0.14

[2016-03-31 15:22] vysohanych commented on #5
@xiuie @jpaulo1205 I can reproduce this issue on build 1.0.14 (Asus Nexus 7 Android 5.1.1). User should tap many times to close export screen.

Video: [Recording #60.zip](https://github.com/Lomotif/lomotif-android-issues/files/197948/Recording.60.zip)

[2016-03-31 15:39] vysohanych commented on #8
@xiuie @jpaulo1205 Can't reproduce on build 1.0.14

[2016-03-31 15:42] vysohanych commented on #9
@xiuie @jpaulo1205 I can reproduce on build 1.0.14 (Asus Nexus 7 Android 5.1.1)

[2016-03-31 15:42] hiteshbheda opened #40 "[1.0.14] Sony xPeria Z / Android 5.1.1 - Application Crash - Press Back button after selecting Motifs"
Frequency: Every time

Action:
1. Launch Lomotif
2. Select Start
3. Tap on search bar for motifs
4. Tap on any motif category (I have selected Romance category)
5. Select few motifs from selected category
6. Select Back button from Top left corner

Expected result: Selecting Back button should redirect us to previous screen

Actual result: Application crash, stop working

![screenshot_2016-03-31-2

[2016-03-31 15:43] vysohanych commented on #10
@xiuie @jpaulo1205 I can't reproduce it on build 1.0.14

[2016-03-31 15:43] vysohanych commented on #11
@xiuie @jpaulo1205 I can't reproduce it on build 1.0.14

[2016-03-31 15:46] vysohanych commented on #18
@xiuie @jpaulo1205 I can't reproduce it on build 1.0.14

[2016-03-31 15:55] hiteshbheda commented on #5
@xiuie @jpaulo1205 @vysohanych **I can't replicate this exactly** in build [1.0.14] with Sony xPeria Z / Android 5.1.1.

**In a single click, Close button does not work properly. To cancel screen it requires minimum 12 to 15 clicks on cancel button.**

[2016-03-31 16:16] hiteshbheda commented on #9
@xiuie @jpaulo1205 I can reproduce it every time for build [1.0.14] on Sony xPeria Z / Android 5.1.1

[2016-03-31 16:24] hiteshbheda commented on #10
@xiuie @jpaulo1205 I can't reproduce it now for build [1.0.14] on Sony xPeria Z / Android 5.1.1

[2016-03-31 16:40] hiteshbheda commented on #11
@xiuie @jpaulo1205 @vysohanych I can still replicate this issue every time for build [1.0.14] on Sony xPeria Z / Android 5.1.1.

[2016-03-31 16:48] hiteshbheda commented on #1
@xiuie @jpaulo1205 @vysohanych I can still reproduce it for build [1.0.14] on Sony xPeria Z / Android 5.1.1.

Actually, now songs added but unable to play. (no sound)

[2016-03-31 17:10] hiteshbheda commented on #8
@xiuie @jpaulo1205 I can't reproduce this in build [1.0.14] on Sony xPeria Z / Android 5.1.1

[2016-04-01 05:58] hiteshbheda commented on #6
@xiuie @jpaulo1205 I can replicate this **Sometimes but NOT FOR ALL TIMES for build [1.0.14]** on Sony xPeria Z / Android 5.1.1

I think this crashing problem is because of unsupportable video format.

[2016-04-01 06:11] hiteshbheda opened #41 "[1.0.14] Sony xPeria Z / Android 5.1.1 - Audio song loading - During selecting multiple songs at same time"
Frequency: Every time

Action:
1. Launch Lomotif
2. Select Start
3. Select any picture / video / motifs
4. Apply selection and go to next step for audio
5. Select multiple songs (6 to 7 songs) from Find music
6. Observe song loading process

Expected result: When select one song it should be loaded but when clicking on another songs the first song should be stopped loading

Actual result: All the

[2016-04-01 14:29] vysohanych opened #42 "[1.0.14] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - Create - Empty area appears on bottom of the Create screen"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select a few motifs on the Album screen
4. Tap apply button on the Album screen
5. Select any song on Find Music screen
6. Tap Use 30 Seconds Preview button

Expected result: User can't see empty area on Create screen

Actual result: Empty area appears on bottom of the Create screen

![screenshot_2016-04-01-

[2016-04-01 15:04] vysohanych opened #43 "[1.0.14] Samsung Galaxy Tab S 10.5 / Android 4.2.2 (Asus Nexus 7 / Android 5.1.1) - Create - Time to load motifs is very long"
Frequency: Some Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select a few motifs on the Album screen
4. Tap apply button on the Album screen
5. Select any song on Find Music screen
6. Tap Use 30 Seconds Preview button

Actual result: Time to load motifs is very long

[2016-04-01 17:36] hiteshbheda commented on #42
@xiuie I can replicate this on Asus Zenfone Go 4.5 / Android 5.1.

But not this much space as displayed in attached image.

[2016-04-01 17:50] hiteshbheda opened #44 "[1.0.14] Asus Zenfone Go 4.5 / Android 5.1 - Save button not working - Change in create lomotif and apply save does not make effect"
Frequency: Every time

Action:
1. Launch Lomotif
2. Select Start
3. Select any picture from any motif category
4. Select any song from Find Music tab and apply 30 second use
5. Create lomotif and save it by clicking on home button at top left corner
6. Again open created lomotif
7. Now, click on + sign to add few more pictures / videos in lomotif
8. Add some additional picture from Camera roll
9.

[2016-04-01 17:52] xiuie commented on #43
@vysohanych How many Motifs did you select? And how long does it take? Approximately how many times longer than iOS version?

[2016-04-01 17:59] hiteshbheda opened #45 "[1.0.14] Asus Zenfone Go 4.5 / Android 5.1 - App Crash - Add pictures in existing lomotif and open it again"
Frequency: Once

Action:
1. Launch Lomotif
2. Select Start
3. Select any picture from any motif category
4. Select any song from Find Music tab and apply 30 second use
5. Create lomotif and save it by clicking on home button at top left corner
6. Again open created lomotif
7. Now, click on + sign to add few more pictures / videos in lomotif
8. Add some additional picture from Camera roll
9. Click

[2016-04-01 18:02] hiteshbheda commented on #43
@xiuie I can replicate this issue in Asus Zenfone Go 4.5 / Android 5.1 and also in Sony xPeria Z / Android 5.1.1.

Approximately it takes 3 times more time compared to iOS version.

[2016-04-01 18:23] hiteshbheda commented on #32
@xiuie @jpaulo1205 I can replicate the same issue for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

Frequency: Every time

[2016-04-01 18:28] hiteshbheda commented on #29
@xiuie @jpaulo1205  I can reproduce this issue for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-01 18:28] Dipamit commented on #26
I am able to replicate "Terms of use & Privacy policy"  (Error 404-Not Found) in Lomotif(1.0.14)

[2016-04-01 18:37] vysohanych commented on #43
@xiuie I agree with @hiteshbheda . I use about 3-5 lomotifs and they are loading more 3 times than iOS

[2016-04-01 19:33] vysohanych opened #46 "[1.0.14] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - Export - Export is freeze when user moves the application to background"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select the three motifs from the first folder on Album screen
4. Tap apply button on the Album screen
5. Select the first song on Find Music screen
6. Tap Use 30 Seconds Preview button
7. Tap Export button on Create screen
8. Move the application to background when lomotif is exporting
9. Return the applicat

[2016-04-02 03:26] hiteshbheda opened #47 "[1.0.14] Sony xPeria Z / Android 5.1.1 - Application Crash - Crete lomotif using motifs and export it"
Frequency: Every time

Action:
1. Launch Lomotif
2. Select Start
3. Tap on search bar for motifs
4. Select first category (nicki minaj)
5. Select first 3 motifs
6. Apply by clicking on right button and top right corner
7. Select Find Music tab
8. Select first song and click on Use 30 seconds Preview
9. Create lomotif
10. Click on export button at top right corner

Expected result: Created lomotif

[2016-04-02 03:45] hiteshbheda commented on #28
@xiuie @jpaulo1205 I can't reproduce it now for build [1.0.14] on Sony xPeria Z / Android 5.1.1 and on Asus Zenfone Go 4.5 / Android 5.1

Cancel button works correctly now.

[2016-04-02 03:55] hiteshbheda commented on #27
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.14] for Asus Zenfone Go 4.5 / Android 5.1 and on Sony xPeria Z / Android 5.1.1

[2016-04-02 04:06] hiteshbheda commented on #26
@xiuie @jpaulo1205 @paulyangzhiwen I can replicate error Error 404 - Not Found on "Terms of use & Privacy policy" for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1 and on Sony xPeria Z / Android 5.1.1

[2016-04-02 04:26] hiteshbheda commented on #25
@xiuie @jpaulo1205 Yes, i can still reproduce it EVERY TIME in build [1.0.14] on Sony xPeria Z / Android 5.1.1

[2016-04-02 04:51] hiteshbheda commented on #24
@xiuie @jpaulo1205 I can't reproduce this now for build [1.0.14] on Sony xPeria Z / Android 5.1.1

It works correctly with 3 dots at the end of string to show some text is still there.

[2016-04-02 04:57] hiteshbheda commented on #22
@xiuie @pmtheint @jpaulo1205 I can reproduce this for build [1.0.14] on Sony xPeria Z / Android 5.1.1 every time.

[2016-04-02 05:12] hiteshbheda commented on #21
@xiuie @pmtheint I can't able to see "Enter Text" box for build [1.0.14] on Sony xPeria Z / Android 5.1.1.

But I agree with @pmtheint as there is longer keyboard in android compared to iOS app

[2016-04-02 05:24] hiteshbheda commented on #20
@xiuie @jpaulo1205 I can't replicate it now on build [1.0.14] with Sony xPeria Z / Android 5.1.1

[2016-04-02 05:40] hiteshbheda opened #48 "[1.0.14] Sony xPeria Z / Android 5.1.1 - Text over-write Error - During turn off wifi and switch back to previous screen"
Frequency: Every time

Action:
1. Turn OFF Internet
2. Launch Lomotif
3. Select Start
4. Tap on search bar for motifs
5. It will give you error message "An error has occured"
6. Click on Cancel button right to Search bar
7. Observe the screen

Expected result: Clicking on cancel button should redirect to previous My Video screen with no error

Actual result: My Video screen appears but with previo

[2016-04-02 17:44] xiuie commented on #45
@hiteshbheda Could you try to upload the crash logs here?

[2016-04-02 17:56] xiuie commented on #48
@hiteshbheda Does this affect the functionality of the app?

[2016-04-02 18:48] hiteshbheda commented on #48
@xiuie @jpaulo1205 No, this does not affect to functionality but overlapping of previous error message with folder name confuse user to select First folder.

[2016-04-02 18:52] hiteshbheda commented on #45
@xiuie Please find attached crash logs

[Crash Logs](https://drive.google.com/drive/u/0/folders/0B6P2U77GNA4UenJySy1qd3Z2WWs)

[2016-04-04 08:36] kcherkas commented on #26
Error 404 - Not Found on "Terms of use & Privacy policy" reproducible for build [1.0.14] on Samsung Galaxy S4 / Android 4.4.2

[2016-04-04 08:43] kcherkas commented on #13
Issue reproducible on samsung galaxy S4, android 4.4.2 build v 1.0.14

[2016-04-04 09:02] kcherkas commented on #1
Reproducible for build 1.0.14 on samsung galaxy S4, android 4.4.2. Lomotif clip created w/o sound.

[2016-04-04 09:22] kcherkas opened #49 "[1.0.14] Samsung galaxy S4 / Android 4.4.2. - Loading Lomotif freezing if user minimize and restore application"
Preconditions: have a created lomotif clip

Frequency: sometimes (3 from 10 times)
1. run lomotif appliation
2. tap at any lomotif clip -> "loading lomotif..." popup appeared
3. press hardware home button at device -> application minimized
4. restore lomotif application
5. wait till clip opened

Expected results: clip opened
Actual results: application freezing -> "loading lomotif..." popup

[load

[2016-04-04 09:34] kcherkas opened #50 "[1.0.14] Samsung galaxy S4 / Android 4.4.2. - android.view.WindowLeaked error in console"
Preconditions: have a created locomotif clip
1. run application
2. tap at any locomotif clip -> clip opened
3. tap at home button
4. at appeared dialog select "no"
5. check SDK console

Expected results: no errors
Actual results: android.view.WindowLeaked error in console at second attempt to open clip application freeze
[leaked_window.txt](https://github.com/Lomotif/lomotif-android-issues/files/2

[2016-04-04 09:52] vinay97t opened #51 "Social account icons, Instagram and Facebook are not working in My Video page."
Steps to reproduce:
1. Launch the application.
2. In "Get Started" Page tap on the Start button.
3. Check whether Instagram and Facebook options are working or not.

Actual result: Intagram and Facebook options are not working.

Expected result: Instagram and Facebook options should work.

Environment: Micromax P480/ android 5.0.1
![screenshot_2016-04-04-15-08-34](https://cloud.githubusercontent.c

[2016-04-04 09:57] vinay97t opened #52 "Music is not playing in the created Limotif."
Steps to Reproduce:-
1. Launch the application.
2. In "Get Started" Page tap on  the Created video.
3. Tap on the music icon.
4. Tap on My music tab and select any music.
5. Tap on use music.
6. Check whether music is playing with video or not.

Actual result: Music is not playing in the created Limotif.

Expected result: Selected music should play with the video.

Environment: Micromax  P480/ and

[2016-04-04 10:07] vinay97t opened #53 "Application get crashed some times while adding music."
Steps to reproduce:
1.Launch the application.
2.In "Get Started" Page tap on "Start" button.
3.Pick a video.
4.Pick the music.
5.Tap on 30 sec preview.
6.Check whether app get crash or not

Actual result: Application getting crash 4th or 5th time while adding music.

Expected result:Application should not crash while adding music.

Environment: Micromax P480/ android 5.0.1
![screenshot_1](https://

[2016-04-04 12:25] vinay97t opened #54 "Errror 404 is displaying while the user tap on the "terms of use & privacy policy" link."
Step to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "Terms of use policy" link.
4.Check whether the content is displaying or not.

Actual result: Errror 404 is displaying while the user tap on the "terms of use & privacy policy" link.

Expected result:The content should display.

Environment: Micromax P480/ android 5.0.1
![404 error](https://

[2016-04-04 13:16] vinay97t opened #55 "User is unable to send feedback by skype."
Steps to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "send feedback" link.
4.Tap on Skype.
5. Choose an Skype user id from which do you want to send feedback.
6.Tap on the send icon.
7. Type some text message and tap on send icon.
8. Check whether the feedback is sent or not.

Actual result:The feedback is not sending and its directly navigat

[2016-04-04 13:26] vinay97t opened #56 "Links are not working on the frequently asked questions page."
Steps to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "Frequently asked questions" link.
4.Tap on the "email protected" link.
5.Tap on  dotted  link.
6.Check whether all the link are working or not.

Actual result:The links are not working on the "frequently asked questions" page.

Expected result:All the link should work on the "frequently as

[2016-04-04 14:54] kcherkas opened #57 "[1.0.14] Samsung galaxy S4 / Android 4.4.2. - FAQ page: impossible to see email at "Contact us at..." section - user see "You mast enable Javascript in your browser in order to decode the e-mail address" text"
Frequency: Every Time
1. run application
2. tap at gear icon
3. tap at "Frequently Asked Questions" section
4. check "Contact us at..." section

Expected results: email or link which user could use to make contact with dev team
Actual results: [email protected] text

![device-2016-04-04-175045](https://cloud.githubusercontent.com/assets/18234578/14251949/e0715598-fa8d-11e5-8eb1-e1b4db56b87a.png)
1

[2016-04-04 14:57] hiteshbheda commented on #54
@xiuie Duplicate of #26

[2016-04-04 15:02] kcherkas opened #58 "[1.0.14] Samsung galaxy S4 / Android 4.4.2 - "<" icon too close to the left edge at FAQ page, Terms of Use & Privacy Policy Page"
[1.0.14] Samsung galaxy S4 / Android 4.4.2 - "<" icon too close to the left edge at FAQ page, Terms of Use & Privacy Policy Page. Difficult to tap.

Frequency: Every Time
1. run application
2. tap at gear icon
3. check position of "<" icon at opened Settings page
4. open Frequently Asked Questions page or Terms of Use & Privacy Policy page
5. compare "<" icon position

Expected results: "<" has th

[2016-04-04 15:06] hiteshbheda opened #59 "[1.0.14] Asus Zenfone Go 4.5 / Android 5.1 - Back button not working - At "Terms of Use and Privacy Policy" page"
Frequency: Twice / Thrice

Action:
1. Launch Lomotif
2. Click on Setting menu on top right corner
3. Select "Terms of Use and Privacy Policy" page
4. It will display "Error 404 - Not Found"
5. Click on application's back button

Expected result: Clicking on Back button should redirect to previously visited page

Actual result: No Effects apply bu clicking on Back Button, Back button not working

!

[2016-04-04 15:09] kcherkas opened #60 "[1.0.14] Samsung galaxy S4 / Android 4.4.2 - Created Lomotif clip did not removed from file system if user delete if at Lomotif application"
[1.0.14] Samsung galaxy S4 / Android 4.4.2 - Created Lomotif clip did not removed from file system if user delete if at Lomotif application

Preconditions: created Lomotif clip
Frequency: Every Time
1. run application
2. click "X" icon for created Lomotif clip -> clip removed
3. open any File Manager and check file system for clip file

Expected results: delete file dialog in Lomotif application a

[2016-04-04 15:25] kcherkas opened #61 "Improvement: Find Music - My Music: second tap at selected track should stop the track playing"
[Improvement] Find Music - My Music: second tap at selected track should stop the track playing.
Now if user tap again at selected track it start to playing again.

[2016-04-04 15:37] kcherkas commented on #49
Sometimes application freezing also after next steps
1) create new lomotif
2) use share it
3) return to main page
4) try to open newly created clip
in log I see "04-04 18:33:29.856: E/dalvikvm-heap(12124): Out of memory on a 37381045-byte allocation."
[lomotif_errors.txt](https://github.com/Lomotif/lomotif-android-issues/files/202748/lomotif_errors.txt)

[2016-04-04 15:38] hiteshbheda commented on #19
@xiuie @jpaulo1205 This is has been resolved in build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

Design is comparatively better now than previous build version.

![screenshot_2016-04-04-21-05-08](https://cloud.githubusercontent.com/assets/9691390/14253501/5e1a2522-faa9-11e5-92c1-330792058fa0.png)

[2016-04-04 15:45] hiteshbheda commented on #18
@xiuie @jpaulo1205 I can't reproduce it now for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1.

[2016-04-04 15:50] hiteshbheda commented on #17
@xiuie @jpaulo1205 This issue can also be reproduced not only for Videos but can be produced for any pictures / motifs category.

Reproduced again for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-04 16:06] hiteshbheda commented on #16
@xiuie @jpaulo1205 I can't reproduce this now for build version [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-04 16:13] hiteshbheda commented on #14
@xiuie @benchang I can't replicate this issue now for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

In fact, i was misinterpreting at that time. I thought that it should search from available folder as there were no motif category.

Now, all confusion clear from my end. Thanks @xiuie ..!!!

[2016-04-04 16:18] hiteshbheda commented on #13
@xiuie @paulyangzhiwen I can still reproduce this issue for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-04 16:22] hiteshbheda commented on #12
@xiuie @jpaulo1205 @pmtheint I can reproduce this issue for build version [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1 every time.

[2016-04-04 16:59] xiuie commented on #51
@jpaulo1205 Spoke to Paul. Not a necessary feature for launch but do hide the options if we can't build it in time.

[2016-04-04 17:04] xiuie commented on #54
@tsukisa Can pass the link you use for T&Cs to Juan and then assign this bug to him?

[2016-04-04 17:04] #54 closed, assigned to tsukisa

[2016-04-04 17:06] hiteshbheda commented on #51
@xiuie @jpaulo1205 Duplicate of #13

[2016-04-04 17:11] hiteshbheda commented on #52
@xiuie Duplicate of #1

[2016-04-04 17:14] xiuie commented on #52
Thanks for pointing out @hiteshbheda That's helpful.

[2016-04-04 17:14] #52 closed, assigned to nobody

[2016-04-04 17:14] #56 closed, assigned to nobody

[2016-04-04 17:23] xiuie commented on #53
@vinay97t We need more information about this. Can you send a crash log?

[2016-04-04 17:24] xiuie commented on #50
@kcherkas Sorry I'm trying to triage the bugs but don't understand what this means. Does Lomotif app freeze?

[2016-04-04 17:36] kcherkas commented on #50
@xiuie I've retested the issue.
Yes app freeze after second attention to open lomotif clip.
We could add next step to issue
6. try to open the same clip again

Expected results: clip opened
Actual results: app freeze

[2016-04-05 03:07] hiteshbheda commented on #50
@xiuie I can't reproduce this issue as **following mentioned all 6 steps** on Sony xPeria Z / Android 5.1.1.

In fact, for the first message, I exactly don't understand what @kcherkas wanted to say.

[2016-04-05 03:25] hiteshbheda commented on #53
@xiuie @jpaulo1205 I can't reproduce this issue now on Sony xPeria Z / Android 5.1.1

Please refer #6  and #10 Both look like this issue. It may be happened because of unsupportable format.

[2016-04-05 03:48] hiteshbheda commented on #55
@xiuie @jpaulo1205 I can't replicate this issue on Sony xPeria Z / Android 5.1.1.

It works correctly as and feedback (message) sent from integrated skype id from mobile.

![screenshot_2016-04-05-09-14-08](https://cloud.githubusercontent.com/assets/9691390/14270755/f2ab2a3c-fb0e-11e5-95bd-53247d514a94.png)

![screenshot_2016-04-05-09-14-26](https://cloud.githubusercontent.com/assets/9691390/142707

[2016-04-05 04:02] hiteshbheda commented on #57
@xiuie @jpaulo1205 I can replicate this on Sony xPeria Z / Android 5.1.1

[2016-04-05 04:05] hiteshbheda commented on #58
@xiuie @jpaulo1205 I can reproduce this on Sony xPeria Z / Android 5.1.1

[2016-04-05 04:38] hiteshbheda commented on #61
@xiuie @jpaulo1205 I can reproduce this issue on Sony xPeria Z / Android 5.1.1.

When user click on any song, "Use Music" button appears below song. And when again click on same song "Use Music" button disappears. As well song restarts from beginning.

[2016-04-05 05:04] jpaulo1205 commented on #44
Note: Fixed in Build 1.0.15

[2016-04-05 05:34] vinay97t commented on #55
If the user send feedback by Skype,its directly navigate the user to the user skype account and the user is unable to send feedback.

[2016-04-05 07:44] vinay97t opened #62 "Signup page details are not displaying when the user tap on the "signup for cloudflare" link."
Steps to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "Frequently asked questions" link.
4.Tap on the "email protected" link.
5.Tap on the "sign up for cloudflare" link.
6.Check whether signup page content are displaying or not.

Excepted result:The signup page details should display when the user tap on the "signup for cloudflare" link.

Actu

[2016-04-05 08:12] vinay97t opened #63 ""Subscribe to update" button is not working."
Steps to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "Frequently asked questions" link.
4.Tap on the "email protected" link.
5.Tap on the "Signup for cloudflare" link.
6.Tap on the "Privacy & Security" link.
7.Tap on the "support link".
8.Tap on the "click here to subscribe to continuous updates" link.
9.Tap on the "Subscribe to updates" butt

[2016-04-05 10:50] vinay97t opened #64 "Alignment of text in body of "Frequently asked questions" page is not correct."
Steps to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "Frequently asked questions" link.
4.Tap on the "email protected" link.
5.Tap on  "Signup for cloudflare" link.
6.Tap on "Privacy & Security" link.
7.Check whether all the content is align properly or not.

Expected result: All the content should align in the proper way.

Actual result: The

[2016-04-05 11:07] vinay97t opened #65 "Links are not working on the "Email protection" section."
Steps to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "Frequently asked questions" link.
4.Tap on the "email protected" link.
5.Tap on  dotted  link.
6.Check whether all the link are working or not.

Expected result:All the link should work on  email protection section.

Actual result: Links are not working on the email protection section sect

[2016-04-05 11:35] vinay97t opened #66 "Video is not playing on the "cloudfare" page when the user tap on the play button."
Steps to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "Frequently asked questions" link.
4.Tap on the "email protected" link.
5.Tap on the "Signup for cloudflare" link.
6.Tap on the "videos" link.
7.check whether the given videos are playing or not.

Expected result: videos should play when the user tap on the play button.

Actual result: Vide

[2016-04-05 11:36] vinay97t opened #67 "Video is not playing on the "cloudfare" page when the user tap on the play button."
Steps to reproduce:
1.Launch the application.
2.In "Get started" page tap on "settings" button.
3.Tap on the "Frequently asked questions" link.
4.Tap on the "email protected" link.
5.Tap on the "Signup for cloudflare" link.
6.Tap on the "videos" link.
7.check whether the given videos are playing or not.

Expected result: videos should play when the user tap on the play button.

Actual result: Vide

[2016-04-05 11:37] #67 closed, assigned to nobody

[2016-04-05 11:54] vinay97t opened #68 "Lomotif video is not exporting to the messenger."
Steps to reproduce:
1.Launch the application.
2.select any created lomotif video.
3.Tap on the export on the top right corner.
4.Export the lomotif video with the messanger.
5.check whether the video is exporting or not.

Expected result:Lomotif video should export to the messenger.

Actual result: Lomotif video is not exporting to messenger.

Environment: Micromax P480/ android 5.0.1

![msg1](htt

[2016-04-05 15:06] hiteshbheda commented on #62
@xiuie I can reproduce this issue for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-05 15:12] hiteshbheda commented on #63
@xiuie I can reproduce this issue for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-05 15:13] hiteshbheda commented on #64
@xiuie I can reproduce this issue for build [1.0.14] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-05 15:15] #64 closed, assigned to nobody

[2016-04-05 15:16] #63 closed, assigned to nobody

[2016-04-05 15:16] #62 closed, assigned to nobody

[2016-04-05 15:16] #65 closed, assigned to nobody

[2016-04-05 15:17] #66 closed, assigned to nobody

[2016-04-05 15:21] jpaulo1205 commented on #32
Note: Fixed in Build 1.15.0

[2016-04-05 15:25] jpaulo1205 commented on #68
@vinay97t hi, this only happens when you have not selected any recipient for the message. (messenger should have returned a list of your friends where you can select to whom you want to send the video, otherwise the send button will be disabled)

[2016-04-05 15:25] hiteshbheda commented on #68
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.14] on Sony xPeria Z / Android 5.1.1

It works correctly. Without selecting recipient there should no active submit button.

[2016-04-05 15:30] jpaulo1205 commented on #41
Note: Fixed in Build 1.0.15

[2016-04-05 15:48] kcherkas commented on #68
@xiuie @jpaulo1205 yes,  this only happens when no recipient for the message were selected. It is correct behavior. Not a bug.

[2016-04-05 16:34] archanaoswal opened #69 "[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - No Audio heard in the lomotif if music files with extension .mp3 and .aac are selected"
[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - No Audio heard in the lomotif if music files with extension .mp3 and .aac are selected

Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap on Start
3. Select few images
4. In music screen, tap on my music tab
5. Select a song with extension .mp3 or .aac from my music
6. On the next screen (Create) where you see the preview of the final clip, no audi

[2016-04-05 16:42] archanaoswal opened #70 "[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Only first 2 lomotifs are seen in the Gallery, every lomotif created after that is not seen in the Gallery"
[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Only first 2 lomotifs are seen in the Gallery, every lomotif created after that is not seen in the Gallery

Frequency: Every Time

Action:
1. Launched Lomotif
2. Created 2 lomotifs. They were seen in the Gallery
3. Each lomotif created after that is not seen in the Gallery (in the Lomotif folder)
4. The only way to access these are through the Lomotif ap

[2016-04-05 16:51] archanaoswal opened #71 "[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Issue with Lomotif having no images and videos"
[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Issue with Lomotif having no images and videos

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on Start
3. Select a single image
4. Select a song from my music
5. On the Create screen, the clip preview will be displayed
6. While the clip is being played, press and hold on the single image that you added
7. Delete option will be displayed
8.

[2016-04-05 16:56] archanaoswal opened #72 "[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Lomotif tries to export a clip having no images and videos"
[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Lomotif tries to export a clip having no images and videos

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on Start
3. Select a single image
4. Select a song from my music
5. On the Create screen, the clip preview will be displayed
6. While the clip is being played, press and hold on the single image that you added
7. Delete option will be d

[2016-04-05 17:02] archanaoswal opened #73 "[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Touching on a video does not show the video stills"
[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Touching on a video does not show the video stills

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on Start
3. Select a video
4. In music screen, tap on my music tab
5. Select a song
6. On the next screen (Create) tap on the video file
7. The stills from the video should be displayed below it (like when you select an image it is displayed in

[2016-04-05 17:09] hiteshbheda commented on #69
@xiuie Duplicate of #1

[2016-04-05 17:24] archanaoswal opened #74 "[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Unable to crop/resize an image from the timeline"
[1.0.14] Samsung Galaxy Grand Prime/5.0.2 - Unable to crop/resize an image from the timeline

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on start
3. Select few images
4. In music screen, tap on my music tab
5. Select a song
6. On the next screen (Create) tap thumbnail and try to resize by pinching and zoom,
7. Nothing happens

Expected Result: User should be able to crop/resize an

[2016-04-05 17:34] hiteshbheda commented on #71
@xiuie I can replicate this issue for build [1.0.14] on Sony xPeria Z / Android 5.1.1

Agree with @archanaoswal there should **Warning / Error Message** needs to be displayed about only one picture in lomotif and you can't delete it.

[2016-04-05 17:43] hiteshbheda commented on #70
@xiuie I can't reproduce this issue for build [1.0.14] neither on Sony xPeria Z / Android 5.1.1 nor on Asus Zenfone Go 4.5 / Android 5.1

**In Sony xPeria Z / Android 5.1.1, I can see total 11 lomotifs in Lomotif folder**

![screenshot_2016-04-05-23-10-41](https://cloud.githubusercontent.com/assets/9691390/14291966/8adccce2-fb83-11e5-8c99-9b969c1ef1b1.png)

**In Asus Zenfone Go 4.5 / Android 5.1,

[2016-04-05 17:48] hiteshbheda commented on #72
@xiuie I can reproduce this issue for build [1.0.14] on Sony xPeria Z / Android 5.1.1 every time.

[2016-04-05 17:55] hiteshbheda commented on #73
@xiuie I can reproduce this issue for build [1.0.14] on Sony xPeria Z / Android 5.1.1.

![screenshot_2016-04-05-23-26-00](https://cloud.githubusercontent.com/assets/9691390/14292423/a28c3254-fb85-11e5-9e19-4c4c31e563cf.png)

[2016-04-05 17:58] hiteshbheda commented on #74
@xiuie I can reproduce this issue on Sony xPeria Z / Android 5.1.1.

But i think there is no bug in it. It works correctly as like an iOS app.

[2016-04-05 18:01] kcherkas opened #75 "[1.0.15] Samsung galaxy S4 / Android 4.4.2 - Lomotif movies disappeared from the main screen after version update"
[1.0.15] Samsung galaxy S4 / Android 4.4.2 - Lomotif movies disappeared from the main screen after version update

Frequency: Every Time
Preconditions: installed v 1.0.14 with created Lomotif movies (displayed at main page)
1. run v 1.0.14 -> clips displayed at main page
2. update application to v 1.0.15
3. run application

Expected results: Lomotif videos still displayed at main page
Actual resul

[2016-04-05 18:09] kcherkas opened #76 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: main screen - tap at fb.com icon under "Join our Lomotif community" text should open facebook application"
[1.0.15] Samsung galaxy S4 / Android 4.4.2: main screen - tap at fb.com icon under "Join our Lomotif community" text should open facebook application

Frequency: Every Time
Preconditions: no lomotif movies at main page, installed facebook application
1. run application
2. tap at fb.com icon under "Join our Lomotif community" text

Expected results: facebook application opened
Actual results: progr

[2016-04-05 18:10] hiteshbheda commented on #75
@xiuie I can reproduce this on build [1.0.15] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-05 18:21] hiteshbheda commented on #76
@xiuie I can reproduce this on build [1.0.15] on Sony xPeria Z / Android 5.1.1

[2016-04-05 18:30] hiteshbheda opened #77 "[1.0.15] Asus Zenfone Go 4.5 / Android 5.1 - Application Crash - Creation of lomotif using motifs and export"
Frequency: Once

Action:
1. Launch Lomotif
2. Tap on Start
3. Select search bar for motifs categories
4. Select first category as nicki minaj
5. Select 3 - 4 motifs from this category
6. Apply by clicking on right button and top right corner
7. Tap on Find Music tab
8. Select the first song and click on Use 30 seconds Preview
9. Create lomotif
10. Click on export button at top right corner

Expect

[2016-04-05 18:33] kcherkas opened #78 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: Find Music screen - application freeze if user select *.flac file and tap "Use Music""
[1.0.15] Samsung galaxy S4 / Android 4.4.2: Find Music screen - application freeze if user select *.flac file and tap "Use Music"

Preconditions: *.flac file at file system
Frequency: Every Time

1 run application
2 tap Start
3 at "My video" screen select image
4 go to "Find Music" screen
5 select *.flac file
6 tap "Use Music"

Expected results: user go to "Create" screen
Actual results: applicati

[2016-04-05 18:37] hiteshbheda commented on #77
@xiuie I can reproduce the same issue on Sony xPeria Z / Android 5.1.1.

I think this may be problem with nicki minaj category motif. (not sure)

[2016-04-05 18:39] Dipamit opened #79 "[1.0.15] Motorola Nexus 6 / Android 6.0.1: Create - Application crash after choosing music and keep application minimize while music downloads."
Frequency : Often

Action:
1. Select multiple files which includes photos and videos.
2. Go to Music page.
3. Go to last and Tap on displayed Music.
4. Before it download tap on center button to minimize the application.
5. After few second resume application again.

Expected Result: It should resume from where user left.

Actual Result: Application crash on resume application.

Note: I got these

[2016-04-06 00:55] archanaoswal opened #80 "[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - Length of Lomotive not 15s after editing timeline of an image"
[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - Length of Lomotive not 15s after editing timeline of an image

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on start
3. Select few images
4. In music screen, tap on my music tab
5. Select a song
6. On the next screen (Create) tap an image thumbnail and try to pan it from the timeline (it reduces the time the image is displayed in the clip)

[2016-04-06 00:59] archanaoswal opened #81 "[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - Lomotif App does not prevent the device from sleeping while the clip is being played"
[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - Lomotif App does not prevent the device from sleeping while the clip is being played

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on start
3. Select few images
4. In music screen, tap on my music tab
5. Select a song
6. Select Lomotif(30s)
7. Make sure your phone is set to sleep after 15s (anything less than 30 sec) of inactivity
8. Now p

[2016-04-06 02:12] archanaoswal opened #82 "[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - Motives no longer seen on select video page after upgrade"
[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - Motives no longer seen on select video page after upgrade

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on start
3. Here Motifs were displayed in the previous version
4. Now this folder is missing (I can still search for Motifs though)

Expected Result: Motifs should be displayed

Actual Result: This folder is missing

[2016-04-06 02:15] archanaoswal opened #83 "[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - FAQ page blank (instead of error message) if there is no internet connection"
[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - FAQ page blank (instead of error message) if there is no internet connection

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on settings
3. Make sure there is no WiFi/data connection on your device
4. Go to the FAQ page

Expected Result: Message saying that internet connection is required should be displayed

Actual Result: Page is blank

[2016-04-06 02:21] archanaoswal opened #84 "[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - Not able to see the list of Music files after a search that returns no results"
[1.0.15] Samsung Galaxy Grand Prime/5.0.2 - Not able to see the list of Music files after a search that returns no results

Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on start
3. Select few images
4. In music screen, search for a file using a keyword such that no results are displayed (e.g. "kkkkk")
5. Now clear the search
6. The list of music file should be displayed again which

[2016-04-06 02:33] archanaoswal commented on #70
Just an observation: After, I rebooted the device, I was able to see the Lomotifs created. And again all the Lomotifs created after reboot were not seen.

[2016-04-06 02:35] xiuie commented on #74
@archanaoswal Sorry my mistake. Crop/resize not available yet in this build.

[2016-04-06 02:35] #74 closed, assigned to nobody

[2016-04-06 02:38] xiuie commented on #76
@jpaulo1205 Either link to http://facebook.com/lomotif OR remove the "Get Connected" design as a quick fix.

[2016-04-06 03:51] hiteshbheda opened #85 "[1.0.15] Asus Zenfone Go 4.5 / Android 5.1 - Audio not available - Songs not available in Find Music"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on Start
3. Select few pictures from Camera folder in My Video category
4. Click on apply button and go to next screen for music
5. Tap on Find Music tab
6. Observe screen message

Expected result: Songs from Find Music tab should be displayed

Actual result: Error Message displayed "An error has occurred"

![screenshot_2016-04-06-09-10-55](h

[2016-04-06 04:23] hiteshbheda commented on #83
@xiuie @jpaulo1205 I can reproduce this issue for build [1.0.15] on Asus Zenfone Go 4.5 / Android 5.1.

Agree with @archanaoswal There should be an error message instead of blank page.

[2016-04-06 07:37] kcherkas commented on #85
Not reproducible at samsung galaxy S4, android 4.4.2

[2016-04-06 07:38] kcherkas commented on #84
Reproducible at samsung galaxy S4, android 4.4.2

[2016-04-06 07:48] kcherkas opened #86 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: My Video & Find Music screens - "An error has occured" message displayed if user try to make a search w/o internet connection"
[1.0.15] Samsung galaxy S4 / Android 4.4.2: My Video & Find Music screens - "An error has occured" message displayed if user try to make a search w/o internet connection

Preconditions: disabled internet connection
Frequency: Every Time
1. make sure what internet connection is disabled
2. run application
3. make search at My Video & Find Music screens

Expected results: no error or at least correc

[2016-04-06 07:55] kcherkas opened #87 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: Application crash after user return from Find Music screen which return no results with disabled internet connection"
[1.0.15] Samsung galaxy S4 / Android 4.4.2: Application crash after user return from Find Music screen which return no results with disabled internet connection

Frequency: Every Time
Preconditions: disable internet connection
1. make sure what internet connection in disabled
2. run application
3. tap start
4. select any image at My video screen
5. proceed to Find Music screen
6. make search reque

[2016-04-06 07:57] kcherkas opened #88 "[Enhancement] Add "Select All" option at My video screen"
[Enhancement] Add "Select All" option at My video screen. It will be more user-friendly in case if user open any folder and want to select all images from the folder.

[2016-04-06 08:14] kcherkas opened #89 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: Application crash after user tries to create clip using several videos"
[1.0.15] Samsung galaxy S4 / Android 4.4.2: Application crash after user tries to create clip using several videos

Frequency: Once
1. run application
2. tap start
3. select several videos (I have selected 4 videos, 1 clip from camera & 3 lomotif clips)
4. select music

Expected results: redirect to create screen
Actual results: application crashed
[log_4videos_crash.txt](https://github.com/Lomoti

[2016-04-06 08:32] kcherkas opened #90 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: Application sometimes freeze after user select music"
[1.0.15] Samsung galaxy S4 / Android 4.4.2: Application sometimes freeze after user select music

Frequency: sometimes, reproduces at least 3 times
1. run application
2. tap start
3. select video
4. proceed to next screen
5. select music ("Use Music")

expected results: redirect to Create screen
actual results: application freeze
[log_freeze_after_music_selection.txt](https://github.com/Lomotif/lo

[2016-04-06 08:39] kcherkas opened #91 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: Create screen - application sometimes freeze after user pan timeline"
[1.0.15] Samsung galaxy S4 / Android 4.4.2: Create screen - application sometimes freeze after user pan timeline

Frequency: sometimes, at least 3 times
1. run application
2. select video clip
3. proceed to next screen
4. select music
5. at create screen try to pan timeline

Expected results: success
Actual results: application freeze and next errors in console
04-06 11:32:31.133: E/MMAP SDK(30449

[2016-04-06 08:43] kcherkas commented on #1
Reproducible for build 1.0.15 on samsung galaxy S4, android 4.4.2. Lomotif clip sometimes created w/o sound.

[2016-04-06 09:08] jpaulo1205 commented on #75
@kcherkas @hiteshbheda @xiuie this is caused during the building of the apk (reading/writing the metadata for the project was altered unintentionally causing the incompatibility for the old projects)

I applied a fix which will allow to read the old projects again but the new one (created in 1.0.15) will not be readable anymore

Note: Fix is in Build 1.0.16

[2016-04-06 09:11] jpaulo1205 commented on #73
@archanaoswal @hiteshbheda @xiuie the loading circle is being displayed when the frames are being generated. unfortunately, there are instances wherein the generation of all frames are very slow especially for long video.

@hiteshbheda what's the duration of the video used in this screenshot?

[2016-04-06 09:40] vinay97t commented on #1
Still the same issue is there.

[2016-04-06 11:57] vinay97t opened #92 "[1.0.15] Micromax P480/ android 5.0.1 -Keypad is not disappearing when the user Tap on to the "My music" tab."
Frequency : Every time

Actions:
1.Launch Lomotif.
2.Tap on "start" button.
3.select any created lomotif video.
4.Tap on the "find music" search text box.
5. Now Tap on the "my music".
6.check whether the keypad has been disappeared or not.

Expected result:Keypad should disappear when the user tap on the My music tab.

Actual result: Keypad is not disappearing when the user Tap on to the "My musi

[2016-04-06 12:13] vinay97t opened #93 "[1.0.15] Micromax P480/ android 5.0.1 - " Music is not stooping when the user Tap on the another option"."
Frequency: Every time
Action:
1.Launch Lomotif.
2.Tap on "start" button.
3.select some pictures from camera folder.
4.Tap on any music file from "find music".
5.Now Tap on my music.
6.check whether the music stop or not when the user tap on the my music.

Expected result:Music should stop when user the user move on to the next option.

Actual result: Music is not stooping
![music not stopped1](htt

[2016-04-06 12:29] vinay97t opened #94 "[1.0.15] Micromax P480/ android 5.0.1 -"Timing is same for "Instagram -15s" and "Lomotif- 30s" Videos."
Action:
1.Launch Lomotif.
2.Tap on "start" button.
3.Tap on the "type here to search motifs" text box.
4.Search and select any video.
5.select the music which you want to play with the video.
6. Tap on the "Instagram-15s" button and calculate the timing.
7.Now tap on "Lomotif- 30s" button and calculate timing.
8.Check whether the video timing is different or not.

Expected result:Video timing for

[2016-04-06 12:55] vysohanych opened #95 "[1.0.15] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - Export - Application crashes when user tries to export exists lomotif"
Frequency: Some Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select a few motifs on the Album screen
4. Tap apply button on the Album screen
5. Select any song on Find Music screen
6. Tap Use 30 Seconds Preview button
7. Tap export button on Create screen
8. Tap Close button on Sharing screen
9. Select the created lomotif on home screen
10. Tap export button on Create

[2016-04-06 13:01] vinay97t opened #96 "[1.0.15] Micromax P480/ android 5.0.1 -"Music is continuously loading after disconnecting with the internet "."
Frequency: Every time
Action:
1.Switch on the WiFi.
2.Launch Lomotif.
3.Tap on the "start" button.
4.Select the video or pictures.
5.select the music file from the "find music" and tap on the "use 30 sec preview".
5. Now switch off the internet.
6.Check whether the music is still loading or not.

Expected result: Error message should display that "network is not available".

Actual result: Music i

[2016-04-06 13:53] vysohanych opened #97 "[1.0.15] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - Create - User sees always loader after using default video sample from device (mp4)"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select a default video sample from device on the Album screen
4. Tap apply button on the Album screen
5. Tap apply button on Find Music screen

Expected result: Video should be loaded

Actual result: User sees always loader

Video: [Recording #73.zip](https://github.com/Lomotif/lomotif-android-issues/files/2

[2016-04-06 14:11] hiteshbheda commented on #79
@xiuie @jpaulo1205 I can reproduce this issue for build version [1.0.15] on Sony xPeria Z / Android 5.1.1 and on Asus Zenfone Go 4.5 / Android 5.1

Actually, this issue can be reproduce only when we change the application location.

I mean application (Lomotif) is available at inside in menu location and the same is available at home screen (as a shortcut). So
1. When i try to follow the steps and

[2016-04-06 14:20] vysohanych opened #98 "[1.0.15] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - Create - 'Exporting...' message appears if user starts exporting and cancels it when lomotif is loading"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Open any exists lomotif
3. Tap export button on Create screen when lomotif is loading
4. Tap cancel button on export screen

Expected result: User sees Create screen with already loaded lomotif

Actual result: User always sees 'Exporting...' message on Create screen. Also user can't close this message and Create screen too

Video: [Recording #74.

[2016-04-06 15:14] xiuie commented on #85
@hiteshbheda Is this still occurring?

[2016-04-06 15:21] xiuie commented on #94
@vinay97t Thanks. But we're replacing this in the next version.

[2016-04-06 15:21] #94 closed, assigned to nobody

[2016-04-06 15:42] hiteshbheda commented on #85
@xiuie No, I can't reproduce it now neither on Asus Zenfone nor on Sony xPeria Z.

[2016-04-06 15:43] hiteshbheda commented on #85
@xiuie You can close this issue now. Please

[2016-04-06 16:32] hiteshbheda opened #99 "[1.0.15] Sony xPeria Z / Android 5.1.1 - App Crash - Create lomotif using multiple motifs from various categories"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on Start
3. Tap on search bar for motif categories
4. Tap on "nicki minaj" category and select first 3 motifs
5. Click on back button
6. Tap on "slow mo" category and select first 3 motifs
7. Click on back button
8. Tap on "romance" category and select first 3 motifs
9. Click on back button
10. Tap on "selena gomez" category and select first

[2016-04-06 16:34] hiteshbheda commented on #99
@xiuie I can also reproduce the same issue on Asus Zenfone Go 4.5 / Android 5.1 Every time

[2016-04-06 16:37] hiteshbheda commented on #73
@jpaulo1205 Duration of this video is 21 minutes and 52 seconds.

You are right. May be this problem occurred due to long video.

[2016-04-06 16:38] hiteshbheda commented on #75
@jpaulo1205 Thanks.!!

[2016-04-06 16:41] hiteshbheda commented on #1
@xiuie @jpaulo1205 I can reproduce this Critical issue for build [1.0.15] on Asus Zenfone Go 4.5 / Android 5.1 and also on Sony xPeria Z / Android 5.1.1 every time.

[2016-04-06 17:01] hiteshbheda commented on #80
@xiuie @jpaulo1205 I can reproduce this issue for build [1.0.15] on Asus Zenfone Go 4.5 / Android 5.1.

It is approximately, 12 - 13 seconds, not exactly 15 seconds.

[2016-04-06 17:05] hiteshbheda commented on #82
@xiuie @jpaulo1205 Duplicate of #75

[2016-04-06 17:20] hiteshbheda commented on #84
@xiuie @pmtheint I can reproduce this issue for build [1.0.15] on Asus Zenfone Go 4.5 / Android 5.1 every time.

[2016-04-06 17:23] hiteshbheda commented on #86
@xiuie @jpaulo1205 Similar issue as #48

[2016-04-06 17:30] hiteshbheda commented on #87
@xiuie @jpaulo1205 I can reproduce this issue every time for build [1.0.15] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-06 17:40] hiteshbheda commented on #89
@xiuie @jpaulo1205 I can't reproduce this issue now on Asus Zenfone Go 4.5 / Android 5.1.

But when i try to give multiple input pictures and video, then it continuously loading to create lomotif and freeze.

[2016-04-06 17:59] hiteshbheda commented on #90
@xiuie @jpaulo1205 I can replicate this issue on Asus Zenfone Go 4.5 / Android 5.1.

Similar to #89 , difference is freeze instead of crash.

[2016-04-06 18:05] hiteshbheda commented on #92
@xiuie @jpaulo1205 I can reproduce this issue on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-06 18:12] hiteshbheda commented on #95
@xiuie @jpaulo1205 I can't reproduce this bug on Asus Zenfone Go 4.5 / Android 5.1.

I have tried 8 to 9 times. But application not crashing any time.

[2016-04-06 18:14] hiteshbheda commented on #96
@xiuie @pmtheint I can replicate this issue on Asus Zenfone Go 4.5 / Android 5.1.

[2016-04-06 18:19] hiteshbheda commented on #97
@xiuie @jpaulo1205 I can replicate this issue on Asus Zenfone Go 4.5 / Android 5.1 every time.

[2016-04-06 18:24] hiteshbheda commented on #98
@xiuie @jpaulo1205 I can reproduce this issue on Asus Zenfone Go 4.5 / Android 5.1.

I think it works as design. Its the same action like in iOS app.

[2016-04-06 18:35] hiteshbheda opened #100 "[1.0.15] Asus Zenfone Go 4.5 / Android 5.1 - App Crash - Swapping between Lomotif - 30s and Instagram - 15s tab during creating lomotif"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on Start
3. Select few pictures from any folder from My Video tab
4. Tap on apply button at Right top corner
5. On Find Music tab, Tap on "Getting There" song and select "Use 30 seconds Preview"
6. On the next screen - at bottom, click on Lomotif - 30s button
7. Now, again click on Instagram - 15s button
8. Continuously do this swapping activ

[2016-04-06 18:38] hiteshbheda commented on #100
@xiuie I can also reproduce the same bug for build [1.0.15] on Sony xPeria Z / Android 5.1.1 every time.

[2016-04-06 21:01] vysohanych opened #101 "[1.0.15] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - Create - 'Would you like to save your changes?' dialog appears when user doesn't do any changes"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select a few motifs on the Album screen
4. Tap apply button on the Album screen
5. Select any song on Find Music screen
6. Tap Use 30 Seconds Preview button
7. Tap home button on Create screen
8. Tap Yes button on the 'Would you like to save your changes?' dialog
9. Open the created lomotif
10. Tap home butt

[2016-04-06 23:39] archanaoswal commented on #82
issue 75 talks about Lomotifs on the main page. This is regarding motifs on the select video page

[2016-04-07 03:46] jpaulo1205 commented on #1
Sorry, misunderstood the issue. Issue occurs for file type other than .m4a. Note that some audio format are not supported.

Added fix for mp3 files and filter out unsupported formats

Note: Fixed in 1.0.16

[2016-04-07 04:06] pmtheint commented on #96
@tsukisa is there a way to detect time-out for those situations?

[2016-04-07 06:15] pmtheint commented on #84
This has been logged a while ago. More of a UX fix. Working on it.

[2016-04-07 06:21] hiteshbheda commented on #101
@xiuie @jpaulo1205 I can reproduce this on Sony xPeria Z / Android 5.1.1

[2016-04-07 08:10] #2 closed, assigned to jpaulo1205

[2016-04-07 08:10] #3 closed, assigned to jpaulo1205

[2016-04-07 08:17] vinay97t opened #102 "[1.0.15] Micromax P480/ android 5.0.1 -"Music is playing continuously when the incoming call arrives"."
Frequency:Every time
Action:
1.Insert any Sim card in your device.
2.Connect the device with the wifi.
3.Launch lomotif app.
4.Play any Created Lomotif video in your device.
5.Call on the number which you have inserted in the device.
6.Check whether the music is stop playing or not when the call arrives.

Expected result: Lomotif video music should stop when the call arrives.

Actual result: Music

[2016-04-07 08:42] #4 closed, assigned to jpaulo1205

[2016-04-07 08:43] jpaulo1205 commented on #5
Made a small fix to increase clickable area for the close button

Note: Fix is in Build 1.0.16

[2016-04-07 08:43] #8 closed, assigned to jpaulo1205

[2016-04-07 08:46] jpaulo1205 commented on #13
Note: Facebook/Instagram not yet fully integrated. Removed the folders temporarily

Fixed in 1.0.15

[2016-04-07 08:47] #14 closed, assigned to benchang

[2016-04-07 08:47] #16 closed, assigned to jpaulo1205

[2016-04-07 08:56] jpaulo1205 commented on #17
@hiteshbheda is this still occuring in build version 1.0.15?

[2016-04-07 08:58] #18 closed, assigned to jpaulo1205

[2016-04-07 08:58] #19 closed, assigned to jpaulo1205

[2016-04-07 08:59] #20 closed, assigned to jpaulo1205

[2016-04-07 08:59] jpaulo1205 commented on #21
Will close this one for the meantime as the Title feature is not yet fully integrated and was removed

[2016-04-07 08:59] #21 closed, assigned to pmtheint

[2016-04-07 09:00] #24 closed, assigned to nobody

[2016-04-07 09:17] jpaulo1205 commented on #25
@hiteshbheda @vysohanych can you still replicate this issue?

[2016-04-07 09:26] #27 closed, assigned to jpaulo1205

[2016-04-07 09:26] #28 closed, assigned to jpaulo1205

[2016-04-07 09:58] #30 closed, assigned to jpaulo1205

[2016-04-07 10:03] #34 closed, assigned to pmtheint

[2016-04-07 10:15] jpaulo1205 commented on #36
Related to https://github.com/Lomotif/lomotif-android-issues/issues/1

Fixed in 1.0.16

[2016-04-07 10:23] jpaulo1205 commented on #40
@hiteshbheda can confirm if this is still occuring?

[2016-04-07 10:32] vysohanych opened #103 "[1.0.15] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - Create - Application crashes when user uses a lot of motifs"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Enter search text 'sport' on My Video screen
4. Select all motifs from search result on the My Video screen
5. Tap apply button on the My Video screen
6. Select the first song on Find Music screen
7. Tap Use 30 Seconds Preview button

Expected result: User sees created lomotif on Create screen

Actual result

[2016-04-07 10:51] vinay97t opened #104 "[1.0.15] Micromax P480/ android 5.0.1 -"Lomotif video plays automatically when the user comes back to the application from the device home screen"."
Frequency: Every time
Action:
1.Launch Lomotif app.
2.Play any Created Lomotif video and wait for finishing the video
3.Tap on the device menu button and comes on the device home screen.
4.Now tap on the device recent app button and select the Lomotif app.
5.Check whether the Lomotif video is playing automatically or not.

Expected result: "Lomotif video should not play automatically when the user

[2016-04-07 11:12] vysohanych opened #105 "[1.0.15] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - Find Music - User doesn't see 'Use 30 Seconds Preview' button when he/she uses last song on the current screen"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select a few motifs on the My Video screen
4. Tap apply button on the My Video screen
5. Select the last song on the Find Music screen

Expected result: List of the songs should automatically shifts up

Actual result: 'Use 30 Seconds Preview' button appears outside the Find Music screen

Video:  [Recording #

[2016-04-07 11:24] vinay97t opened #106 "[1.0.15] Micromax P480/ android 5.0.1- "While playing the video device is going to the sleep mode"."
Action:
1.Set the device sleeping time as 15 sec.
2.Launch Lomotif app.
3.Play any Lomotif- 30 sec video and wait for 15 sec.
4.check whether the device is going to the sleep mode or not.

Expected result: While playing video the device should not go to the sleep mode.

Actual result: While playing  video the device is going to the sleep mode.

![sleep](https://cloud.githubusercontent.com/assets/1

[2016-04-07 12:54] vinay97t opened #107 "[1.0.15] Micromax P480/ android 5.0.1- "Cross(x) icon is not working on the "My video" page"."
Frequency: Every time
Action:
1.Launch Lomotif app.
2.Tap on start button.
3.Tap on the "type here to search motif" search text box.
4.Type dancing in the search text box.
5.Now try to remove "ing" by using the app cross icon(x) present on the top right corner.
6.Check whether the text is removing or not.

Expected result: Cross(x) icon should work on the "My video" page.

Actual result: Cross(x)

[2016-04-07 12:57] kcherkas opened #108 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: lomotif folder did not removed from file system after application removal"
[1.0.15] Samsung galaxy S4 / Android 4.4.2: lomotif folder did not removed from file system after application removal

Frequency: Every Time
1. install lomotif application
2. use it
3. remove lomotif application
4. check device file system

Expected results: no lomotif folders
Actual results: com.lomotif.android.dev folder with files remained at device file system

[2016-04-07 12:59] kcherkas commented on #107
Not reproducible at samsung galaxy S4, android 4.4.2 for v 1.0.15

[2016-04-07 13:08] kcherkas commented on #103
Reproducible for samsung galaxy S4, android 4.4.2 at v1.0.15

[2016-04-07 13:18] kcherkas opened #109 "[1.0.15] Samsung galaxy S4 / Android 4.4.2: application permission "prevent phone from sleeping" does not work at all"
[1.0.15] Samsung galaxy S4 / Android 4.4.2: application permission "prevent phone from sleeping" does not work at all. It is more general problem not as narrow as it described at the #106

Frequency: every time
1. Set up screen time out for device = 15 sec
2. run Lomoitif
3. wait for 16 sec

Expected results: application still running and device did not go to sleep mode
Actual results: application

[2016-04-07 13:52] kcherkas opened #110 "[1.0.15] Samsung galaxy S4 / Android 4.4.2 - My Video: possible to select unsupported format"
[1.0.15] Samsung galaxy S4 / Android 4.4.2 - My Video: possible to select unsupported format

Frequency: always
Preconditions: lomotif unsupproted format at file system e.g. *.flv
1. run application
2. tap start
3. at My Video screen try to select unsupported format e.g. *.flv

![device-2016-04-07-165026](https://cloud.githubusercontent.com/assets/18234578/14353208/bde5e732-fce0-11e5-803b-0d3f13c1

[2016-04-07 13:55] hiteshbheda commented on #36
@jpaulo1205 Thanks..!!!

[2016-04-07 14:26] hiteshbheda commented on #40
@jpaulo1205 @xiuie I can't reproduce the same bug for build [1.0.15] on Sony xPeria Z / Android 5.1.1.

**But I can replicate similar bug most of the time (90 % times) for CRASHING APP as mentioned in** #99

[2016-04-07 14:36] vysohanych opened #111 "[1.0.15] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - My Video - Able to open two folders at the same time"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Tap on the two folders at the same time
4. Close the opened folder (tab back button)

Expected result: User sees My Video screen

Actual result: User sees second open folder

Video: [Recording #85.zip](https://github.com/Lomotif/lomotif-android-issues/files/208571/Recording.85.zip)

[2016-04-07 14:37] hiteshbheda commented on #25
@jpaulo1205 @xiuie I can't reproduce this bug on build [1.0.15] on Sony xPeria Z / Android 5.1.1

I have tried to reproduce this multiple times but no crashing. You can close it.

[2016-04-07 14:41] hiteshbheda commented on #17
@jpaulo1205 @xiuie I can't reproduce this bug on build [1.0.15] neither on Sony xPeria Z / Android 5.1.1 nor on Asus Zenfone Go 4.5 / Android 5.1.

You can close this issue now.

[2016-04-07 14:49] hiteshbheda commented on #102
@xiuie I can reproduce this issue for build [1.0.15] on Asus Zenfone Go 4.5 / Android 5.1 and also on Sony xPeria Z / Android 5.1.1.

[2016-04-07 14:58] hiteshbheda commented on #103
@xiuie I can reproduce this issue for build [1.0.15] on Sony xPeria Z / Android 5.1.1 every time.

[2016-04-07 15:06] jpaulo1205 commented on #48
Note: Fixed in 1.0.16

[2016-04-07 15:11] hiteshbheda commented on #104
@xiuie I can reproduce this issue for build [1.0.15] on Sony xPeria Z / Android 5.1.1

[2016-04-07 15:27] #13 closed, assigned to paulyangzhiwen

[2016-04-07 15:27] #51 closed, assigned to jpaulo1205

[2016-04-07 15:39] hiteshbheda commented on #105
@xiuie I can reproduce this issue for build [1.0.15] on Sony xPeria Z / Android 5.1.1.

I think it works as design as same in iOS.

[2016-04-07 16:01] hiteshbheda commented on #106
@xiuie I can reproduce this issue for build [1.0.15] on Sony xPeria Z / Android 5.1.1.

It should map with device permission.

[2016-04-07 16:04] jpaulo1205 commented on #57
Note: Fixed in 1.0.16

[2016-04-07 16:07] hiteshbheda commented on #107
@xiuie I can't reproduce this issue for build [1.0.15] neither on Sony xPeria Z / Android 5.1.1 nor on Asus Zenfone Go 4.5 / Android 5.1

It works correctly.

[2016-04-07 16:10] hiteshbheda commented on #109
@xiuie Similar to #106

Application should be mapped with Device setting and permission.

[2016-04-07 16:14] jpaulo1205 commented on #58
@kcherkas @hiteshbheda can check again for 1.0.15?

[2016-04-07 16:19] hiteshbheda commented on #110
@xiuie I can reproduce this issue for build [1.0.15] on Sony xPeria Z / Android 5.1.1 every time.

Add on, when i select unsupported video files from com.lomotif.android.dev folder, they play and work correctly in lomotif.

![screenshot_2016-04-07-21-50-37](https://cloud.githubusercontent.com/assets/9691390/14358414/7c4f06bc-fd0a-11e5-93b0-59ba4d0c69e3.png)

![screenshot_2016-04-07-21-51-00](https

[2016-04-07 16:29] hiteshbheda commented on #111
@xiuie I can reproduce this issue on Sony xPeria Z / Android 5.1.1

**It only applicable to built-in folders of device like, camera, video and others. But when i try to select created folders by lomotif app, this issue can't be replicated**

[2016-04-07 16:38] jpaulo1205 commented on #61
Note: fixed for 1.0.16

[2016-04-07 16:41] #68 closed, assigned to jpaulo1205

[2016-04-07 17:00] jpaulo1205 commented on #69
Note: Fixed in 1.0.16

[2016-04-07 17:07] hiteshbheda commented on #58
@jpaulo1205 @xiuie I have checked it again on Sony xPeria Z / Android 5.1.1 and also on Asus Zenfone Go 4.5 / Android 5.1

Design is perfect for Sony xPeria Z / Android 5.1.1

**But for Asus Zenfone Go 4.5 / Android 5.1 , "<" sign and "Terms of Use Agreement and Privacy Policy" are overlapping on each other as screen size is smaller compared to sony mobile.** (Please refer attached screenshots)

!

[2016-04-07 17:14] kcherkas commented on #58
@jpaulo1205 @xiuie fixed in 1.0.15

[2016-04-07 18:06] xiuie commented on #105
@pmtheint @tsukisa Subtle enhancement for iOS as well?

[2016-04-07 18:12] xiuie commented on #108
@jpaulo1205 Not sure if we need to remove it. Just FYI.

[2016-04-07 18:15] xiuie commented on #106
Refer to #109

[2016-04-07 18:15] #106 closed, assigned to pmtheint

[2016-04-07 19:01] jpaulo1205 commented on #110
Note: Fixed in 1.0.16

[2016-04-07 19:03] jpaulo1205 commented on #72
Note: Fixed in 1.0.16

[2016-04-07 19:45] jpaulo1205 commented on #76
Note: Fixed in 1.0.16

Do note that if device has no Facebook installed, it will open the browser instead

[2016-04-07 19:46] jpaulo1205 commented on #78
Note: Fixed in 1.0.16

Currently .flac and some other formats are not supported. Filters them out of the list for the meantime

[2016-04-07 20:05] jpaulo1205 commented on #81
Note: Fixed in 1.0.16

[2016-04-07 20:09] #85 closed, assigned to nobody

[2016-04-07 20:11] jpaulo1205 commented on #86
Note: Fixed in 1.0.16

[2016-04-07 20:20] jpaulo1205 commented on #87
Note: Fixed in 1.0.16

[2016-04-07 20:45] jpaulo1205 commented on #96
@pmtheint we can detect the time-out. current code keeps on retrying the download of motifs/music if it failed

[2016-04-07 21:32] vysohanych opened #112 "[1.0.16] Samsung Galaxy Tab S 10.5 / Android 4.2.2 - My Video - No able to select any motif"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Try to select any motif

Expected result: User can use motifts

Actual result: User sees text 'Unsupported format' over all motifs

Video: [Recording #95.zip](https://github.com/Lomotif/lomotif-android-issues/files/209282/Recording.95.zip)

[2016-04-08 02:08] pmtheint commented on #96
Oops. Ha ha sorry for wrong mention. But yea, generally detecting time out for about 30 secs and flashing a message like
"Oops, your connectivity is a little shaky. Make sure you're connected to Wi-Fi or Data." with a cancel and retry buttons?

[2016-04-08 06:10] jpaulo1205 commented on #112
Thanks for this. Fixed in it next build version

[2016-04-08 07:17] vinay97t commented on #112
I can reproduce this issue for build [1.0.16] on Micromax P480/ android 5.0.1

[2016-04-08 08:09] kcherkas commented on #61
Verified for v 1.0.16 samsung galaxy S4, android 4.4.2

[2016-04-08 08:11] kcherkas commented on #110
Verified in v1.0.16 at samsung galaxy S4, android 4.4.2.
Now impossible to select unsupported video format

[2016-04-08 08:13] kcherkas commented on #76
Verified in v1.0.16 at Samsung galaxy S4, android 4.4.2.

[2016-04-08 08:16] kcherkas commented on #78
Verified in v1.0.16 at Samsung galaxy S4, android 4.4.2.

[2016-04-08 08:19] kcherkas commented on #86
Checked in v1.0.16 at Samsung galaxy S4, android 4.4.2.
Only typo in "An error has occurred"  was corrected. User still see "An error has occurred" text if he make search w/o internet connection. "No internet connection" message still not implemented

[2016-04-08 08:20] kcherkas commented on #87
Verified in v1.0.16 at Samsung galaxy S4, android 4.4.2. No crash

[2016-04-08 11:36] vinay97t opened #113 "[1.0.17] Dell Tab/ android 4.4.4 -"Selected videos are not deselecting when the user go to the previous folder and come back to the same folder again"."
Action:
1.Launch Lomotif app.
2.Tap on start button.
3.Select any two or more created videos and go back to the previous folder.
4.Now come back to the same folder.
5.Check whether previously selected video is now selected or not.

Expected result:Once the user go out of the folder, videos should be deselected automatically.

Actual result: Selected videos are not deselecting when the user come ba

[2016-04-08 12:08] vinay97t opened #114 "[1.0.17] Dell Tab/ android 4.4.4- "Music is not changing in the created video"."
Action:
1.Launch Lomotif app.
2.Tap on start button.
3.select any created video.
4.Now try to change the music of the created Lomotif video.
5.Check whether the music is changing or not in the created Lomotif video.

Expected result: Music should change in the created Lomotif video.

Actual result: Music is not changing in the created video and its always show loading pop up.

![music1](https://cl

[2016-04-08 12:35] vinay97t opened #115 "[1.0.17] Dell Tab/ android 4.4.4- "Some times application crashes while adding music"."
Action:
1.Launch Lomotif app.
2.Tap on start button.
3.select the video file.
4.select an music file.
5.check whether the application working properly or not 4th or 5th time.

Expected result: Application should not crash while adding music.

Actual result: Application crashes 4th or 5th while adding music.

![crashing](https://cloud.githubusercontent.com/assets/12474351/14383681/47ea002a-fdb4-11e

[2016-04-08 21:20] xiuie commented on #113
@vinay97t This works as designed to allow users to select clips from different folders

[2016-04-08 21:20] #113 closed, assigned to nobody

[2016-04-08 21:22] xiuie commented on #115
@vinay97t Does this happen Every Time or just sometimes?

[2016-04-10 06:57] xiuie commented on #99
Vysohanych can't replicate 99 issue on Samsung Galaxy Tab on build 1.0.15

[2016-04-10 06:57] xiuie commented on #70
Vysohanych can't replicate issue #70 on Samsung Galaxy Tab on build 1.0.15

[2016-04-11 05:48] vinay97t commented on #115
Its happen 4th or 5th time while adding music in the created video.

[2016-04-11 08:41] vinay97t opened #116 "[1.0.17] Dell Tab/ android 4.4.4- "Created lomotif video is not playing 2nd or 3rd time"."
Action:
1.Launch Lomotif app.
2.Create an Lomotif video by taking picture and music from the device.
3.Play the created lomotif video.
3.Try to play the same video 3 or 4 times and check whether the video is playing well or not.

Expected result: Everytime video should play properly.

Actual result: Created lomotif video is not playing 2nd or 3rd time and its showing loading of
the video continuou

[2016-04-11 08:51] vinay97t opened #117 "[1.0.17] Dell Tab/ android 4.4.4- "User is unable to perform any task while Loading Lomotif music"."
Action:

1.Launch Lomotif app.
2.Tap on start button.
3.select a video.
4.select any music file and try to perform any another task.
5.check whether you are able to perform any task or not while loading music.

Expected result: While loading video user should able to perform any other task also.

Actual result: User is unable to perform any task while  Loading Lomotif music.

![per1](https://cloud

[2016-04-11 14:22] vinay97t opened #118 "[1.0.17] Dell Tab/ android 4.4.4- "User is not able to select all the videos at a time"."
Action:
1.Launch Lomotif app.
2.Tap on start button.
3.select the videos.
4.check whether the user is able to select all the video at a time or not.

Expected result:User should able to select all the videos at a time.

Actual result: User is not able to select all the videos at a time.

[2016-04-11 14:34] vinay97t opened #119 "[1.0.17] Dell Tab/ android 4.4.4- "Right(V) click symbol is not working on the my video page"."
Action:
1.Launch Lomotif app.
2.Tap on start button.
3.Tap on the "type here to search motif" seach textbox.
4.Tap on the "Romance" folder.
5. Dont select any video inside this folder and tap on the Right click(V) symbol.
6.Right click symbol should work and it should show some pop up messages.

Expected result: Right click(V) symbol should work and it should show some warning pop up messages.

Ac

[2016-04-11 15:53] xiuie commented on #116
@vinay97t Please follow the format. You forgot the "Frequency: Every time" again.. Does this bug occur sometimes or every time?

[2016-04-11 15:55] xiuie commented on #117
@pmtheint The iOS has a skip button.. But maybe android already has a back button. Anyway fyi. :)

[2016-04-11 15:55] #117 closed, assigned to pmtheint

[2016-04-11 15:56] xiuie commented on #118
@vinay97t How many videos was this? You should be able to see the number selected on the top.

[2016-04-11 15:58] xiuie commented on #119
On the iOS end (can check with casey), they can't proceed unless they've selected at least 1 x video.

[2016-04-12 05:33] vinay97t commented on #116
Its happns every time

[2016-04-12 13:07] vinay97t opened #120 "[1.0.17] Dell Tab/ android 4.4.4-Application got crash when user play any video and move frequency bar."
Action:
1.Launch Lomotif app.
2.Play any Created Lomotif video.
3.Move the frequency bar continuously.
4.Check whether application got crash or not.

Expected result: Application should not crash when user play any video and move frequency bar.

Actual result: Application got crash when user play any video and move frequency bar.

[2016-04-12 13:10] vinay97t opened #121 "[1.0.17] Lenovo / android 4.1-Back icon is overlapping with "terms" when user tap on "terms of use"."
Action:
1.Launch Lomotif app.
2.Tap on setting icon.
3.Tap on terms of use and privacy policy.
4.Check whether back icon is overlapping with "terms" or not.

Expected result: Back icon should not overlap with "terms" when user tap on "terms of use".

Actual result: Back icon is overlapping with "terms" when user tap on "terms of use".

![screenshot_2](https://cloud.githubusercontent.com/assets/124

[2016-04-12 13:16] vinay97t opened #122 "[1.0.17] Lenovo / android 4.1-Suggestion list is not updating when user serach motifis."
Action:
1.Launch Lomotif app.
2.Tap on start button.
3.Tap on search text field and type any word.
4. Check whether search result is updationg or not.

Expected result: Suggestion list should  update when user serach motifis.

Actual result: Suggestion list is not updating when user serach motifis.
![screenshot_1](https://cloud.githubusercontent.com/assets/12474351/14461129/dd3b3d38-00de-11e6-942e

[2016-04-12 22:53] xiuie commented on #120
Does this happen all the time @vinay97t

[2016-04-12 22:53] #118 closed, assigned to nobody

[2016-04-13 15:20] hiteshbheda commented on #121
@xiuie Duplicate of #58 (Comment of @hiteshbheda)

[2016-04-13 17:00] archanaoswal opened #123 "[1.0.17] Samsung Galaxy Grand Prime/5.0.2 - Application crashes after clicking on "Use 30 Seconds Preview" for any music file"
Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on start
3. Select few images
4. In the Find music screen, touch on any music file
5. "Use 30 Seconds Preview" option will be displayed
6. Touch it and Lomotif crashes

Expected Result: The music file should be selected and user should be navigated to the next screen

Actual Result: Lomotif crashes

![screenshot_2016-04-13-22-25-32 1](htt

[2016-04-14 14:27] Dipamit commented on #26
Not able to replicate this issue on build [1.0.17]

[2016-04-16 21:03] vysohanych commented on #1
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 21:09] vysohanych commented on #5
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 21:15] vysohanych commented on #6
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1 because com.lomotif.android.dev folder absent

[2016-04-16 21:23] vysohanych commented on #7
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 21:31] vysohanych commented on #9
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 21:43] vysohanych commented on #10
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 21:53] vysohanych opened #124 "[1.0.18] Asus Nexus 7 / Android 5.1.1 - Home - Just created lomotif appears in end of list of lomotifs"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Select any motif on Add Photos & Videos screen
4. Tap next button on Add Photos & Videos screen
5. Select any song on Add Music screen
6. Tap home button on Create screen
7. Tap YES button on the 'Would you like to save your changes?' dialog

Expected result: Just created lomotif should be the first in the list of lomotifs

Ac

[2016-04-16 21:57] vysohanych commented on #11
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 22:10] vysohanych commented on #12
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 22:20] vysohanych commented on #17
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 22:25] vysohanych commented on #22
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 22:31] vysohanych commented on #25
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 22:42] vysohanych commented on #26
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-16 22:46] vysohanych commented on #29
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-17 09:18] archanaoswal opened #125 "[1.0.18] Samsung Galaxy Grand Prime/5.0.2 - While scrolling through the added images, some image previews are not seen"
Frequency: Every Time

Action:
1. Launched Lomotif
2. Click on start
3. Select few images
4. In the Find music screen, select a music file
5. On the create screen, wait for all the image previews to be loaded
6. Now, scroll left and right through the images added
7. Some image previews are not seen.
8. The issue is random but reproducible

Expected Result: All the image previews should be displaye

[2016-04-17 14:54] vysohanych commented on #31
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-17 15:12] vysohanych commented on #32
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-18 11:22] Dipamit commented on #125
Not able to reproduce this issue on Motorola Nexus 6/Marshmallow 6.0.1 for [1.0.18]

[2016-04-18 11:26] Dipamit commented on #123
Not able to reproduce this issue on Motorola Nexus 6/ Marshmallow 6.0.1 for [1.0.18]

[2016-04-18 12:21] Dipamit commented on #116
I am not able to reproduce this issue on Motorola Nexus 6/ Marshmallow 6.0.1 for build [1.0.18]

[2016-04-18 12:30] Dipamit commented on #112
I am not able to reproduce this issue on Motorola Nexus 6/ Marshmallow 6.0.1 for build [1.0.18]

[2016-04-18 21:30] vysohanych commented on #33
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-18 21:47] vysohanych commented on #35
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-18 21:47] vysohanych commented on #36
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-18 21:51] vysohanych commented on #37
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-18 21:55] vysohanych commented on #38
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-18 22:13] vysohanych opened #126 "[1.0.18] Asus Nexus 7 / Android 5.1.1 - Create - Application crashes when user taps home button and export button at the same moment on Create screen"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Open any exists lomotif
3. Tap home button and export button at the same moment on Create screen

Expected result: User can tap only one button on Create screen

Actual result: Two dialogs appears (export loader and dialog with confirmation of changes) on Create screen and then application crashes

Video: [mobizen_20160419_010821.zip](https://git

[2016-04-20 06:38] rahulbws opened #127 "[1.0.18] Xiaomi Redmi Mi2 / Android 4.4.4 - Create - Application take too much time while selecting any music. Screen gone black and takes too much time to load and some times it crashes."
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap on Create lomotif
3. Select photos or video files
4. Tap next button to add music
5. Screen will gone blank and takes too much time to load music window and sometime app crashes

Expected Result: Add music window should be opened quickly

Actual Result: App screen gone blank all time while crashing some time

![screenshot_2016-04-20-12-14-07]

[2016-04-20 06:43] rahulbws opened #128 "[1.0.18] Samsung Galaxy On 7 /5.1.1 - There is no searching option in adding My music"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Click on start
3. Select few images
4. Tap next
5. In Add Music window click "My Music"
6. There is no option for searching the music

Expected Result: There should be a searching option in My Music option

Actual Result: There is no such option for searching

[2016-04-20 07:10] rahulbws opened #129 "[1.0.18] Samsung Galaxy On 7 /5.1.1 - App crashes sometimes while loading 30 seconds preview of audio file"
Frequency: SomeTime

Action:
1. Launch Lomotif
2. Tap on Create lomotif
3. Select photos or video files
4. Tap next button to add music
5. Click on any audio file and click "30 Second Preview" It took a long time to load the preview and some times it crashed.
]
Expected Result: Music should be added quickly.

Actual Result: App crashes some times

![screenshot_2016-04-19-13-27-11](https://cloud.gi

[2016-04-20 07:34] rahulbws opened #130 "[1.0.18] Samsung Galaxy On 7 /5.1.1 - Unable to forward music"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap on Create lomotif
3. Select photos or video files
4. Tap next button to add music
5. Tap next button
6. song is not forwarded while scrolling the bars left or right

Expected Result: Music should be forwarded.

Actual Result: Music starts from beginning while scrolling the bars

![screenshot_2016-04-20-12-55-28_com lomotif android dev_1461137

[2016-04-21 03:36] xiuie commented on #129
@rahulbws Can submit crash log pls?

[2016-04-21 03:44] xiuie commented on #127
@rahulbws Can you send over a crash log?

[2016-04-21 12:06] Dipamit commented on #126
I am not able to reproduce this issue on Motorola Nexus 6/Marshmallow 6.0.1 and Xiaomi RedMi Note 3/ 5.1.1 for Build [1.0.18]

[2016-04-21 12:38] Dipamit commented on #129
I am not able to reproduce this issue on Motorola Nexus 6/Marshmallow 6.0.1 and Xiaomi RedMi Note 3/ 5.1.1 for build [1.0.18]

[2016-04-21 13:36] rahulbws commented on #129
It is reproducing in Xiaomi RedMi mi2

[2016-04-21 17:40] archanaoswal opened #131 "[1.0.18] Samsung Galaxy Grand Prime/5.0.2 - Getting error "An error occurred while trying to export the lomotif""
[1.0.18] Getting error "An error occurred while trying to export the lomotif"

Frequency: Every Time

Action:
1. Launch Lomotif
2. Click on start
3. Select few images
4. In the Find music screen, select a music file
5. On the create screen, immediately click on the export button
6. Getting error "An error occurred while trying to export the lomotif"

Expected Result: User should be asked to wait t

[2016-04-21 17:47] archanaoswal opened #132 "[1.0.18] Samsung Galaxy Grand Prime/5.0.2 - Music not repeated if the selected Audio clip is less than 30 sec (or 15 sec)"
[1.0.18] Music not repeated if the selected Audio clip is less than 30 sec (or 15 sec)

Frequency: Every Time

Action:
1. Launch Lomotif
2. Click on start
3. Select few images
4. In the Find music screen, select a music file that is less than 15 sec long
5. Create the Lomotif
6. After the Audio file is finished playing once, the remaining video is silent

Expected Result: The music should be start

[2016-04-21 17:48] xiuie commented on #131
@archanaoswal Can you send over the crash log please? Thanks! :)

[2016-04-21 17:50] xiuie commented on #132
@archanaoswal You added a music file from your own library on from our library? I think this works as designed.

[2016-04-21 18:01] archanaoswal commented on #131
![screenshot_2016-04-21-23-21-48 1](https://cloud.githubusercontent.com/assets/18290603/14719124/206b8348-0818-11e6-9a6c-1f0a7b6227fb.png)

[2016-04-21 18:02] archanaoswal commented on #131
@xiuie: By crash logs, do you mean the log files in the folder "com.lomotif.android.dev"?

[2016-04-21 18:04] vysohanych commented on #39
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 18:05] archanaoswal commented on #132
@xiuie: I added a music from my own library. It was a suggestion, more than a defect as part of the video goes silent

[2016-04-21 18:09] vysohanych commented on #40
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 18:14] ukrpas opened #133 "[1.0.18] Samsung Galaxy S4/5.0.1- can`t change music for clip"
Frequency: Every Time
Env: Android 5, Samsung Galaxy S4
Steps:
1. Launch Lomotif
2. Click on start
3. Select recorded video from device gallery
4. Add music from "My music" (which is on device)
5. Press on "Use music", wait until clip is ready
6. In "Create" screen tap on "note" icon
7. Select another music from "My music"
Act. result: "loading" screen, music was not applied
Exp: music applied

[2016-04-21 18:16] vysohanych commented on #41
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 18:22] ukrpas opened #134 "[1.0.18] Samsung Galaxy S4/5.0.1 - app crash on export clip"
Steps:
Frequency: 2 / 5
1. Launch Lomotif
2. Click on start
3. Select clip form device gallery
4. Add music from device
5. When clip is ready, press on clip, to stop video.
6. Press on "Export" icon
Act: app was crashed 2 times (you can see logs on Crashlytics, if not, i`ll try to send log using Logcat. One time i see an error "An error has occured while trying to export the Lomotif".

[2016-04-21 18:29] ukrpas commented on #134
[Log_2016-04-21_21-25-44.txt](https://github.com/Lomotif/lomotif-android-issues/files/230507/Log_2016-04-21_21-25-44.txt)

[2016-04-21 18:37] vysohanych commented on #44
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 18:53] vysohanych commented on #45
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 19:24] jpaulo1205 commented on #134
@ukrpas do you have a File Explorer app in your device? If so, can you check your SD Card and confirm if there is a DCIM folder? Thanks

[2016-04-21 19:28] ukrpas commented on #134
@jpaulo1205 yes, path is \extSdCard\DCIM\Camera

[2016-04-21 19:51] vysohanych opened #135 "[1.0.18] Asus Nexus 7 / Android 5.1.1 - Export - Application crashes if user moves the application to background when lomotif is exporting"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select the three motifs from the first folder on Album screen
4. Tap next button on the Album screen
5. Select the first song on Find Music screen
6. Tap Use 30 Seconds Preview button
7. Tap Export button on Create screen
8. Move the application to background when lomotif is exporting

Actual result: Applica

[2016-04-21 19:53] vysohanych commented on #47
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 19:57] ukrpas opened #136 "[1.0.18] Samsung Galaxy S4/5.0.1- empty space in equalizer"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Click on start
3. Add clip
4. Add music from device
5. When clip is ready move right to select another start of playing music in "equalizer"

Act: empty equalizer, but there should be music
Exp: equalizer show all music length
![screenshot_2016-04-21-22-49-22](https://cloud.githubusercontent.com/assets/11840791/14722482/6f066e5e-0814-11e6-9db8-e0

[2016-04-21 20:14] vysohanych commented on #48
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 20:24] jpaulo1205 commented on #134
@ukrpas ok i see. is there a Lomotif folder inside the DCIM?

[2016-04-21 20:36] ukrpas commented on #134
@jpaulo1205 no. Lomotif folder presents only in device internal storage in DCIM, path like sdcard0\DCIM\Lomotif. I do not see Lomotif folder in the external card  - extSdCard\DCIM

[2016-04-21 20:50] jpaulo1205 commented on #134
@ukrpas ok. thanks, lastly, can you give me the remaining storage memory for the internal and external card?

[2016-04-21 21:57] vysohanych commented on #49
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 21:57] vysohanych commented on #50
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 21:59] vysohanych commented on #53
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 22:07] xiuie commented on #136
Currently for ios, the max the red line can go is to the right of the waveform (no space).

[2016-04-21 22:08] xiuie commented on #135
@vysohanych Can you provide a crash log for this?

[2016-04-21 22:16] vysohanych commented on #57
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 22:18] vysohanych commented on #58
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 22:22] vysohanych commented on #59
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 22:25] vysohanych commented on #60
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-21 22:26] vysohanych commented on #61
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-22 02:47] pmtheint commented on #132
Ok I'll mark this as improvement

[2016-04-22 02:47] #132 closed, assigned to pmtheint

[2016-04-22 04:46] ukrpas commented on #134
@jpaulo1205
![screenshot_2016-04-22-07-45-15](https://cloud.githubusercontent.com/assets/11840791/14731940/4395cfa4-085e-11e6-8ad0-ae40b1718c54.png)

[2016-04-22 07:56] vysohanych commented on #135
@xiuie I added the crash log

[2016-04-22 08:14] ukrpas opened #137 "[1.0.18] Samsung Galaxy S4/5.0.1- processing of clip creation never ends"
Frequency: 2 / 6

Action:
1. Launch Lomotif
2. Click on start
3. Add 2 videos from device
4. Add music from device
Act: "Loading" after music adds, which never ends
Exp: Clips created.
BTW. I switched to store my videos from camera to internal storage.

[2016-04-22 11:45] Dipamit commented on #135
I am not able to reproduce crash but while tap on "Export" icon its endless loading on Xiaomi RedMI Note 3/5.1.1 for build [1.0.18]

[2016-04-22 11:51] testershub opened #138 "[1.0.18] Samsung Galaxy S4/5.0.1-Application crashes when user swipe right to left continuously on wave form for recently added song."
Frequency: Every Time

Action:
1. Launch the application.
2. Create Lomotif without selecting music and saved it.
3. Navigate to recently added Lomotif from Home screen.
4. Tap on "Music" icon.
5. Reach to "Add Music" screen and select any song from list. e.g. "Purple Rain".
6. Tap on "Use 30 seconds preview".
7. Navigate to "Create" screen.
8. Swipe right to left continuously on "Wave form".
9. C

[2016-04-22 11:51] testershub opened #139 "[ 1.0.18] Nexus 5 / 6.0.1 - Error message is occurred while exporting lomotif video to the messenger."
Frequency: Every Time

Action:
1: Launch the application.
2: Select any created lomotif video.
3.Tap on the export on the top right corner.
4.Export the lomotif video with the messenger.
5: Check if error message is occurred while exporting to messenger.

Expected result: Recipients list should be displayed.

Actual result: Error message is occurred while exporting lomotif video to the messenger.

[2016-04-22 12:20] Dipamit commented on #139
I am unable to reproduce this issue on Motorola Nexus 6/ Marshmallow 6.0.1 and Xiaomi Red MI Note 3 /5.1.1 for build [1.0.18]

[2016-04-22 12:20] testershub opened #140 "[1.0.18] Samsung Galaxy Note 2/4.4.2- Infinite loading notification is displayed on screen after selecting the music."
Frequency: Every Time

Action:
1. Launch Lomotif app
2. Tap on Start
3. Select image or video Lomotif list
4. In music screen, tap on my music tab
5. Select any song from my music

Expected Result: Song should added to the lomotif.

Actual Result: Infinite loading notification is displayed on screen.

Please refer the video link for more details-
http://www.screencast.com/t/smqx6nqgZvu

[2016-04-22 12:29] testershub commented on #139
![messenger_error](https://cloud.githubusercontent.com/assets/18608449/14741464/f208adc2-08b3-11e6-870c-8acc72759a3a.jpg)

[2016-04-22 12:30] testershub commented on #139
Please refer following video for more details:
http://www.screencast.com/t/hgLvwJVIeb8A

Issue is specifically observed on Nexus 5 / 6.0.1

[2016-04-22 12:35] Dipamit commented on #138
Unable to reproduce this issue on Motorola Nexus 6/ Marshmallow 6.0.1 and Xiaomi RedMi Note 3 /5.1.1 for build [1.0.18]

[2016-04-22 12:37] testershub opened #141 "[1.0.18] Samsung Galaxy S4/5.0.1- Application crashes when user randomly tapping on image view."
Frequency: Every Time

Action:
1. Launch the application.
2. Tap on "Start" button.
3. Choose an image without selecting music and saved it.
4.  Navigate to recently added Lomotif from Home screen.
5. Navigate to "Create" screen.
6. Tap on "Image" icon (circle).
8. Randomly tap on images view.
9. Check if application crashes.

Expected Result: Application should not crash.

Actual Result: Applicat

[2016-04-22 12:52] testershub opened #142 "[ 1.0.18 ] Nexus 5 / 6.0.1, Samsung Galaxy Note 2 / 4.4.2 - Video range is not updating when user tap on "Lomotif - 30s"; Video plays for 15s."
Frequency: Every Time

Action:
1: Launch the application.
2: Tap on "START".
3. Select Photos/ Videos.
4: Select music and tap on "Use 30 Seconds Preview".
5: Scroll down and tap on "Lomotif-30S".
6: Check if video range is not updated when user taps on "Lomotif- 30s".

Expected result: Video range should get updated when user tap on "Lomotif-30s".

Actual result: Video range is not updated when u

[2016-04-22 13:16] testershub commented on #131
Same issue is reproducible on Samsung Galaxy Note 2/4.4.2 device.

[2016-04-22 14:08] testershub opened #143 "[ 1.0.18 ] Nexus 5 / 6.0.1, Samsung Galaxy Note 2 / 4.4.2 - Music plays even when user lock the device."
Frequency: Every Time

Action:
1: Launch the application.
2: Tap on "START".
3. Select Photos/ Videos.
4: Select music. (Video plays automatically)
5: Lock the device.
6: Check if music plays even when user lock the device.

Expected result: Music should be paused when user lock the device.

Actual result: Music plays even when user lock the device.

[2016-04-22 14:09] testershub opened #144 "[ 1.0.18] Samsung Galaxy Note 4 / 5.0.1 - Paused music is getting played when user resumes the application after minimising."
Frequency: Every Time

Action:
1. Launch the application Lomotif
2. Tap on "START" button
3. Select audio and video files
4. Select any song and proceed further
5: User will be navigated to "Create" screen
6: Play the music and wait for it to get stopped.
7: Minimise the application by pressing the home button and resume the application.
8: Check if music starts playing.

Expected Result: Music sh

[2016-04-22 14:15] ukrpas opened #145 "[1.0.18] Samsung Galaxy S4/5.0.1- "black" screen when selected >10 images"
Frequency: Every time
Steps:
1. Launch the app
2. Select > 10 images from device gallery (images are stored in Internal memory)
3. Add music
4. Pres on "Play" when clip is ready

Act: black screen (see screenshot)
Exp: clip with images
![screenshot_2016-04-22-17-11-43](https://cloud.githubusercontent.com/assets/11840791/14744086/d914b730-08ad-11e6-8198-26f3ff181648.png)

[2016-04-22 14:32] testershub opened #146 "[1.0.18] Samsung Galaxy Note 2/4.4.2- Application crashes when user taps on "Next(>)" arrow on "Add Music" screen."
Frequency: 8/10

Action:
1. Launch the application.
2. Tap on "Start" button.
3. Tap on Search screen.
4. Check video list will be displayed.
5. Select any video.
6. Reach to "Add Photos & Videos" screen.
7. Select any video.
8. Double tap on ">" (next) arrow.
9. Warning message with "Cancel" and "OK" button will be displayed.
10. Tap on "OK" button.
11. Check user is not immediately navigated "Cr

[2016-04-22 16:13] xiuie commented on #138
@testershub Can you send over a crash log please?

[2016-04-22 16:15] xiuie commented on #141
@testershub Can you send over the crash log please?

[2016-04-22 16:22] xiuie commented on #144
@testershub To clarify, does music and video start playing, or just the music?

Music video autoplaying could be "Works as designed"

[2016-04-22 16:34] xiuie commented on #146
@testershub Can you send over the crash log please?

[2016-04-22 22:06] jpaulo1205 commented on #134
@ukrpas thanks for the info. will be investigating further for this issue. could you also check if there is a com.lomotif.android.dev directory in the internal storage?

[2016-04-22 22:42] ukrpas commented on #134
Yes, i see com.lomotif.android.dev in Internal storage

Pavel
23 Апр 2016 г. 1:06 пользователь "jpaulo1205" notifications@github.com
написал:

[2016-04-23 01:15] archanaoswal opened #147 "[1.0.18] Samsung Galaxy Grand Prime/5.0.2 - Application crashes after uploading to facebook"
[1.0.18] Samsung Galaxy Grand Prime/5.0.2 - Application crashes after uploading to facebook

Frequency: Every Time

Action:
1. Launch Lomotif
2. Click on start
3. Select few images
4. In the Find music screen, select a music file
5. On the create screen, click on the export button
6. Select to share on facebook and click on Post
7. User is taken back to the share screen
8. While the video is still

[2016-04-23 01:30] archanaoswal commented on #140
@xiuie reproducible on [1.0.18] Samsung Galaxy Grand Prime/5.0.2

[2016-04-23 11:49] testershub commented on #144
@xiuie Music and video start playing.

[2016-04-23 12:12] vysohanych commented on #69
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-23 12:16] vysohanych commented on #70
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-23 12:27] vysohanych commented on #71
Empty black screen appears instead deleted image. I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

![screenshot_2016-04-23-15-22-51](https://cloud.githubusercontent.com/assets/3593359/14761375/deee6506-0967-11e6-95f8-2fa5ec0acba3.png)

[2016-04-23 12:48] vysohanych opened #148 "[1.0.18] Asus Nexus 7 / Android 5.1.1 - Home - Lomotif without image and video has incorrect preview (thumbnail)"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select any image on Add Photos & Videos screen
4. Tap next button on the Add Photos & Videos screen
5. Select any song on Add Music screen
6. Tap Use 30 Seconds Preview button
7. Press and hold on the single image on Create screen
8. Drag the image to the delete icon and remove the image
7. Tap home button o

[2016-04-23 13:05] vysohanych commented on #72
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-23 13:09] vysohanych commented on #73
I can't reproduce it for short video on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-23 13:16] vysohanych commented on #76
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-23 16:45] vysohanych commented on #77
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1

[2016-04-23 17:03] hiteshbheda commented on #77
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-23 17:09] hiteshbheda commented on #148
@xiuie I can reproduce this issue for android build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-23 17:15] hiteshbheda opened #149 "[1.0.18] Asus Zenfone Go 4.5 / Android 5.1 - Delete Bug - In creation of lomotif last image / video / motif can be deleted"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on Start
3. Select any picture or video from Camera roll
4. Add any audio from Add Music or My Music tab
5. Click on Use 30 sec button
6. Now, click and hold used image / video from lomotif
7. Drag selected Image / video to delete button (- sign button)
8. Observe the effect

Expected result: Last image / video / motif should not be deleted

[2016-04-23 17:21] xiuie commented on #148
@jpaulo1205 If I understand this problem correctly, users shouldn't be able to delete the last clip from the timeline (based on how iOS works).

[2016-04-23 17:22] xiuie commented on #149
Isn't this #148? @hiteshbheda

[2016-04-23 17:24] vysohanych commented on #78
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1 because .flac files don't appear on My Music tab on Add Music screen

[2016-04-23 17:48] vysohanych commented on #79
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1. When song was loaded the application automatically return from background

[2016-04-23 18:04] vysohanych commented on #80
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1. But then application crashes when I tap home button on Create screen.

Crash log: [crash_log.zip](https://github.com/Lomotif/lomotif-android-issues/files/233096/crash_log.zip)

[2016-04-23 18:11] vysohanych commented on #82
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-23 18:14] vysohanych commented on #83
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-23 18:19] vysohanych commented on #84
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-23 18:21] vysohanych commented on #86
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-23 18:24] vysohanych commented on #87
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-23 18:44] xiuie commented on #87
Thanks @kcherkas for verifying.. that's really helpful.

[2016-04-23 18:44] #87 closed, assigned to jpaulo1205

[2016-04-25 05:57] testershub commented on #138
@xiuie Please find attached crash log.
[#138_Crash log.txt](https://github.com/Lomotif/lomotif-android-issues/files/233961/138_Crash.log.txt)

[2016-04-25 05:58] testershub commented on #141
@xiuie Please find attached crash log.
[#141_Crash log.txt](https://github.com/Lomotif/lomotif-android-issues/files/233962/141_Crash.log.txt)

[2016-04-25 05:58] testershub commented on #146
@xiuie Please find attached crash log.
[#146_crash log.txt](https://github.com/Lomotif/lomotif-android-issues/files/233966/146_crash.log.txt)

[2016-04-25 07:37] testershub opened #150 "[1.0.18] Samsung Galaxy S4/5.0.1, Samsung Galaxy Tab 2/4.1.2- Application crashes when user taps on "Export" button before images will be loads on "Create" screen."
Frequency: Every Time

Action:
1. Launch the application.
2. Tap on "Start" button.
3. Select one or more images and tap on "Next (>)" button.
4. Reach to "Add Music" screen.
5. Select any music and tap on "Use 30 Seconds Preview" button.
6. Loading process will be displayed.
7. Immediately taps on "Export" button before images will be load on "Create" screen.
8. Check if application crashes.

Exp

[2016-04-25 07:54] testershub commented on #150
Please refer attached crash log-
[#150 crash log.txt](https://github.com/Lomotif/lomotif-android-issues/files/234094/150.crash.log.txt)

[2016-04-25 08:13] testershub opened #151 "[1.0.18] Samsung Galaxy Note 2/4.4.2- Application crashes on "Create" screen when user has added more than five-ten videos in a single Lomotif."
Frequency: Every Time

Action:
1. Launch the application.
2. Tap on "Start" button.
3. Tap on "Search" field.
4. Video list will be displayed.
5. Tap on any video album.e.g."slow mo".
6. Select more than 5-10 videos from album list.
7. Tap on "Next(>)" button.
8. Reach to "Add Music" screen.
9. Select any music and tap on "Use 30 Seconds Preview" button.
10. Loading process will be displayed.
11.

[2016-04-25 08:24] testershub commented on #151
Please refer attached crash log-
[#151_Crash log.txt](https://github.com/Lomotif/lomotif-android-issues/files/234138/151_Crash.log.txt)

[2016-04-25 15:48] hiteshbheda commented on #151
@xiuie I can reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 15:59] hiteshbheda commented on #150
@xiuie  Similar to #131

I can reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 16:06] hiteshbheda commented on #149
@xiuie Yes Xiu, It's similar to  #148.

In #148 , the main focus was on thumbnail only so i though if its a last image / video, it should bnot be deleted as iOS app works.

Thanks for update.!

[2016-04-25 16:20] hiteshbheda commented on #146
@xiuie I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 16:37] hiteshbheda commented on #147
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 16:55] hiteshbheda commented on #145
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 17:03] hiteshbheda commented on #144
@xiuie I can reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

It plays music and audio both without play button when resume application from background.

[2016-04-25 17:11] hiteshbheda commented on #143
@xiuie @jpaulo1205 I can reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 17:13] hiteshbheda commented on #142
@xiuie @jpaulo1205 I can't replicate this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 17:17] hiteshbheda commented on #141
@xiuie @jpaulo1205 I can reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

Application crash by multiple clicking at different position at image view

[2016-04-25 17:22] hiteshbheda commented on #140
@xiuie @jpaulo1205 I can reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

I think it is because of unsupportable format of audio file. Not sure.

[2016-04-25 17:33] hiteshbheda commented on #138
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 17:47] hiteshbheda commented on #139
@xiuie @jpaulo1205 I can't replicate the same issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

But when i'm sending the lomotif through Facebook Messanger, it displays message as "Send Failed"

![screenshot_2016-04-25-23-09-22](https://cloud.githubusercontent.com/assets/9691390/14793269/e501fcde-0b3b-11e6-8b05-9228e0440d84.png)

[2016-04-25 17:48] hiteshbheda commented on #38
@xiuie @jpaulo1205 I can reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 17:51] hiteshbheda commented on #136
@xiuie @jpaulo1205 Duplicate of #38

[2016-04-25 18:06] hiteshbheda commented on #135
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

But I agree with @Dipamit Clicking on Export icon, continuously loading exporting process.

[2016-04-25 18:11] hiteshbheda commented on #131
@xiuie @jpaulo1205 I can reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1.

Instead of message, my application crash when i perform these steps.

[2016-04-25 18:14] hiteshbheda commented on #127
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:19] hiteshbheda commented on #123
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:21] hiteshbheda commented on #112
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:22] hiteshbheda commented on #75
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:33] hiteshbheda commented on #47
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:36] hiteshbheda commented on #32
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:38] hiteshbheda commented on #25
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:39] hiteshbheda commented on #10
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:41] hiteshbheda commented on #9
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:47] hiteshbheda commented on #1
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-25 18:56] hiteshbheda opened #152 "[1.0.18] Asus Zenfone Go 4.5 / Android 5.1 - Thumbnail (Album art) Bug - Thumbnails not created for lomotifs in Lomotif folder"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on Start
3. Tap on Lomotif folder
4. Observe the Thumbnails (Album Art) for available lomotifs

Expected result: Thumbnails (Album Art) not display for available lomotifs in Lomotif folder

Actual result: Thumbnails (Album Arts) should be displayed

![1](https://cloud.githubusercontent.com/assets/9691390/14795291/75a4e180-0b45-11e6-9b26-20780

[2016-04-25 22:47] xiuie commented on #152
Any other folders without previews? @hiteshbheda ?

[2016-04-26 02:09] hiteshbheda commented on #152
@xiuie @jpaulo1205 No Xiu, it's the only folder without preview.

[2016-04-26 19:33] vysohanych commented on #89
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 19:36] vysohanych commented on #90
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 19:42] vysohanych commented on #25
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 19:45] vysohanych commented on #91
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 19:48] vysohanych commented on #92
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 20:54] vysohanych commented on #95
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 20:57] vysohanych commented on #96
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 20:59] vysohanych commented on #97
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 21:25] vysohanych opened #153 "[1.0.18] Asus Nexus 7 / Android 5.1.1 - Home - Application is freeze if user opens exists lomotif when network is unavailable"
Frequency: Every Time

Action:
1. Turn off wi-fi
2. Launch Lomotif
3. Try to open any exists lomotif

Actual result: Always loader appears on the home screen

Expected result: Error message appears that network is unavailable

Video: [Recording #139.zip](https://github.com/Lomotif/lomotif-android-issues/files/237545/Recording.139.zip)

[2016-04-26 21:33] vysohanych commented on #98
@xiuie @jpaulo1205 @hiteshbheda Now application crashes with steps from the bug

Crash log: [crash_log.zip](https://github.com/Lomotif/lomotif-android-issues/files/237557/crash_log.zip)

I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 21:39] vysohanych commented on #99
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 22:13] vysohanych commented on #100
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 22:26] vysohanych commented on #101
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 23:00] vysohanych commented on #103
Application is freeze on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 23:04] vysohanych commented on #104
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 23:05] vysohanych commented on #105
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-26 23:38] vysohanych opened #154 "[1.0.18] Asus Nexus 7 / Android 5.1.1 - Home - Application crashes when device is unlocked with selected song"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Select any motif on Add Photos & Videos screen
4. Tap next button on Add Photos & Videos screen
5. Tap on the first song on Add Music screen
6. Wait when device automatically will be locked

Actual result: Application crashes

Expected result: User sees Add Music screen with selected song

Video: [Recording

[2016-04-27 17:54] hiteshbheda commented on #103
@xiuie @jpaulo1205 By performing mentioned steps, application continuous procession for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-27 17:57] hiteshbheda commented on #104
@xiuie @pmtheint I can reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-27 18:01] hiteshbheda commented on #105
@xiuie @jpaulo1205 @pmtheint @tsukisa I can reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-27 18:10] hiteshbheda opened #155 "[1.0.18] Asus Zenfone Go 4.5 / Android 5.1 - Application Crash - Export during lomotif creation processing"
Frequency: Every time

Action:
1. Launch Lomotif
2. Tap on Start
3. Tap on Search bar on Add photos and videos screen
4. Click on Nicki minaj motif
5. Select first 6 motifs from Nicki minaj category
6. Click on Next button at Top Right Corner
7. Select last song "Work (feat Drake)" and click on Use 30 Sec button
8. Processing will occur on the screen
9. During processing, click on Export button on

[2016-04-27 18:13] hiteshbheda commented on #154
@xiuie  @jpaulo1205 I can reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-27 18:16] hiteshbheda commented on #153
@xiuie @pmtheint I can reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-27 18:18] vysohanych commented on #107
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-27 18:20] hiteshbheda commented on #99
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.18] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-27 18:26] vysohanych commented on #110
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-27 18:31] vysohanych commented on #111
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-27 18:32] vysohanych commented on #112
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-27 18:37] vysohanych commented on #114
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-27 18:40] vysohanych commented on #115
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-27 18:46] vysohanych commented on #116
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-27 18:52] vysohanych commented on #120
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-27 19:06] vysohanych commented on #121
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-28 00:47] xiuie commented on #155
Does this happen with other clips eg not the ones you've picked. and must it be the exact same composition? @hiteshbheda

[2016-04-28 14:32] vysohanych commented on #123
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-28 14:40] vysohanych commented on #124
I can reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-28 15:38] vysohanych opened #156 "[1.0.18] Asus Nexus 7 / Android 5.1.1 - Home - Application crashes when user select broken lomotifs which were created in previous version"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Open Lomotif folder
3. Select lomotif which was created in prewious version fo app bun now isn't working
4. Tap next button on Add Photos & Videos screen
5. Tap on the first song on Add Music screen
6. Tap 'Use 30 Seconds Preview' button

Actual result: Application crashes

Expected result: User can't select

[2016-04-28 15:53] vysohanych commented on #125
I can't reproduce it on build 1.0.18 on Asus Nexus 7 Android 5.1.1.

[2016-04-28 18:10] xiuie commented on #156
@vysohanych Can you clarify what you mean by " lomotif which was created in prewvous version of app but now isn't working". Do you mean to say all exported Lomotifs created in previous version can't be used in the new one? If not, what's the rough % of exported Lomotifs that can't be used in the new version?

[2016-04-28 18:28] vysohanych commented on #156
@xiuie Not all exported lomotifs from previous version. I have only three such lomotifs. It's about 5% from all exported  lomotifs from previous app. I don't know why they don't work now.

[2016-04-28 22:36] #1 closed, assigned to jpaulo1205

[2016-04-28 22:36] #5 closed, assigned to jpaulo1205

[2016-04-28 22:36] #7 closed, assigned to jpaulo1205

[2016-04-29 00:49] archanaoswal opened #157 "[1.0.19] Samsung Galaxy Grand Prime/5.0.2 - Application crashes after exporting any Lomotif"
[1.0.19] Samsung Galaxy Grand Prime/5.0.2 - Application crashes after exporting any Lomotif

Frequency: Every Time

Action:
1. Launch Lomotif
2. Select an existing Lomotif or create a new one and let it load
3. Click on export
4. Application crashes

Expected Result: The lomotif should be exported

Actual Result: Application crashes

[2016-04-29 01:03] archanaoswal opened #158 "[1.0.19] Samsung Galaxy Grand Prime/5.0.2 - While scrolling through "Add Music" getting an error"
[1.0.19] Samsung Galaxy Grand Prime/5.0.2 - While scrolling through "Add Music" getting an error

Frequency: Every Time

Action:
1. Launch Lomotif
2. Click on Start
2. Select a few images
3. On the "Add Music" page scroll to the bottom
4. Getting error

Expected Result: More music files should be displayed

Actual Result: Getting error

[2016-04-29 01:05] archanaoswal commented on #158
![screenshot_2016-04-29-06-31-44 1](https://cloud.githubusercontent.com/assets/18290603/14906024/8504b7d6-0dd4-11e6-8538-0f7e9b6e9090.png)

[2016-04-29 01:09] archanaoswal commented on #142
@xiuie Can replicate the issue for build [1.0.19] on Samsung Galaxy Grand Prime/5.0.2 if you select only videos in your lomotif

[2016-04-29 01:26] archanaoswal opened #159 "[1.0.19] Samsung Galaxy Grand Prime/5.0.2 - Some images come blank in the Lomotif"
[1.0.19] Samsung Galaxy Grand Prime/5.0.2 - Some images come blank in the Lomotif

Frequency: Every Time

Action:
1. Launch Lomotif
2. Click on Start
3. Select a few images
4. On the "Add Music" page select a music file
5. The attached image comes blank on the lomotif each time.

Expected Result: All images should be seen in the Lomotif

Actual Result: Some images are blank on the lomotif each tim

[2016-04-29 01:31] archanaoswal opened #160 "[1.0.19] Samsung Galaxy Grand Prime/5.0.2 - Difference in height of lomotif preview section when you select "instagram - 15 sec" and "Lomotif - 30 sec""
[1.0.19] Samsung Galaxy Grand Prime/5.0.2 - Difference in height of lomotif preview section when you select "instagram - 15 sec" and "Lomotif - 30 sec"

Frequency: Every Time

Action:
1. Launch Lomotif
2. Click on Start
3. Select a few images
4. On the "Add Music" page make sure no music file is selected
5. On create screen "Instagram - 15 sec" is selected by default and whole screen is used
6. No

[2016-04-29 01:48] jpaulo1205 commented on #157
@archanaoswal hi, I've uploaded another build version 1.0.19.1, can you check if the export crash still occur on your device on that build. thanks

[2016-04-29 01:58] archanaoswal commented on #157
@jpaulo1205 I have updated to the new version and now I am able to export. Thanks

[2016-04-29 02:03] #157 closed, assigned to nobody

[2016-04-29 02:03] jpaulo1205 commented on #158
@archanaoswal can you also check this on the latest version? (1.0.19.1)

[2016-04-29 06:40] ukrpas opened #161 "[1.0.19] Samsung Galaxy S4/5.0.1 - no video preview if video stored in External memory"
Frequency: 2 / 5
Steps:
1. Launch the app
2. Press on Start -> "Camera" folder.
See screenshot
Act: preview video is empty - **you can check this on first two images on screenshot**
![screenshot_2016-04-29-09-36-26 1](https://cloud.githubusercontent.com/assets/11840791/14909648/c26f2434-0dee-11e6-95b5-0139bbb8055b.png)
Exp: preview video

[2016-04-29 07:02] ukrpas commented on #161
It happens when i installed 1.0.19 build and launched the app about 5 times. After that i see previews and can`t reproduce again

[2016-04-29 07:06] ukrpas opened #162 "[1.0.19] Samsung Galaxy S4/5.0.1 -Loading never ends if changed music"
Frequency: every time
Steps:
1. Launch the app
2. Press on Start -> select any video from storage
3. Add Music - add any music from "My music"
4. Press on "music" icon on "Create" screen to change music.
5. Select another melody
Act: "loading" never ends, can`t see clip with new melody
Exp: melody changed

[2016-04-29 07:36] ukrpas opened #163 "[1.0.19] Samsung Galaxy S4/5.0.1 - keyboard not hiding after export via email"
Freq: every time
Steps:
1. Launch the app
2. Select any video
3. Add music
4. Export clip via email (i use standart Gmail app for Android)
5. Send email
Act: keyboard not hiding after email was sent (see screenshot)
Exp: keyboard hiding
![screenshot_2016-04-29-10-32-39](https://cloud.githubusercontent.com/assets/11840791/14910465/333d1c78-0df6-11e6-8006-850ba424423c.png)

[2016-04-29 12:12] archanaoswal commented on #158
@jpaulo1205 yes.. this is also fixed

[2016-04-29 12:21] Dipamit commented on #162
I am not able to reproduce this issue on Motorola Nexus 6/ Marshmallow 6.0.1 for build [1.0.19.1]

[2016-04-29 12:32] Dipamit commented on #156
I am not able to reproduce this issue on Motorola Nexus 6/ Marshmallow 6.0.1 for build [1.0.19.1]

[2016-04-29 13:03] testershub opened #164 "[1.0.19.1] Samsung Galaxy Note 4/5.0.1, Samsung Galaxy S4/5.0.1- Preview of panorama images are not displayed on the video created."
Frequency: Every Time.

Preconditions:
-User should have at least two panorama image in the device.
Action:
1: Launch the application, user will be navigated to the launch page.
2: Tap on "START" button, user will be navigated to "Add Photos & Videos" screen.
3: Tap on "Camera" option and select any panorama images.
4: Navigate to add music screen and select any music.
5: Navigate to "Create" scre

[2016-04-29 13:12] testershub opened #165 "[1.0.19.1] Samsung Galaxy Tab S 2/5.0.2- Preview of virtual shot images are not displayed on the video preview."
Frequency: Every Time.

Preconditions:
User should have at least two virtual shot images.

Action:
1: Launch the application, user will be navigated to the launch page.
2: Tap on "START" button, user will be navigated to "Add Photos & Videos" screen.
3: Tap on "Camera" option and select any virtual shot images.
4: Navigate to add music screen and select any music.
5: Navigate to "Create" screen an

[2016-04-29 13:13] testershub commented on #165
![virtual_shot](https://cloud.githubusercontent.com/assets/18608449/14916966/39cbe260-0e3a-11e6-8b2a-1e4599273645.jpg)

[2016-04-29 13:14] Dipamit opened #166 "[1.0.19.1] Motorola Nexus 6/ Marshmallow 6.0.1 : Application stopped on creating video using without thumbnail Lomotif."
Frequency: Every time
1. Open application and tap on Start.
2. Tap on Lomotif Folder.
3. Play only that video which has no thumbnail.
4. Verify displayed result for Played video.
5. Select video which are without thumbnail.
6. tap on Next and select Music.

Expected result: It should create a video or should display some validation message.

Actual result: Application stopped.
[2016_04_29_18_06_21

[2016-04-29 13:14] testershub commented on #164
![blank_video_screen](https://cloud.githubusercontent.com/assets/18608449/14916711/ca0b149c-0e38-11e6-83be-ff248fa8215f.jpg)

[2016-04-29 13:45] archanaoswal opened #167 "[1.0.19.1] Samsung Galaxy Grand Prime/5.0.2 - Each time you export the same Lomotif (without even making changes), a new video file is created in the gallery (file system)"
[1.0.19.1] Samsung Galaxy Grand Prime/5.0.2 - Each time you export the same Lomotif (without even making changes), a new video file is created in the gallery (file system)

Frequency: Every Time

Action:
1. Launch Lomotif
2. Create a Lomotif
3. Click on Export
4. The lomotif is saved in the folder "lomotif-staging"
5. Now open the Lomotif again
6. Again Export
7. Another copy of the same lomotif i

[2016-04-29 13:46] testershub commented on #163
Please see same issue is reproducible for me as well on Samsung Galaxy Tab S2/ 5.0.2

[2016-04-29 13:53] testershub opened #168 "[1.0.19.1] Samsung Galaxy S6/6.0.1- Music at "Create" screens keeps on playing in the background even when the user is on a call."
Frequency: Every Time.

Preconditions:
-User should have at least one lomotif saved.
-User should be on "Create" screen.

Action:
1: Launch the application and tap on the saved lomotif.
2: User will be navigated to "Create" screen, play the lomotif and answer the call.
3: Check if lomotif keeps on playing in the background.

Expected result: Lomotif should pause as soon as user received the call.

[2016-04-29 14:08] vysohanych commented on #126
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 14:13] vysohanych commented on #127
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 14:30] vysohanych commented on #128
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 14:47] vysohanych commented on #129
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 15:06] vysohanych commented on #130
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 18:23] hiteshbheda commented on #168
@xiuie Duplicate of #102

[2016-04-29 18:24] hiteshbheda commented on #102
@xiuie @pmtheint I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-29 18:28] hiteshbheda commented on #167
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-29 18:37] hiteshbheda opened #169 "[1.0.19.1] Asus Zenfone Go 4.5 / Android 5.1 - Thumbnail (Album art) Not available - Thumbnails (Album art) Not available at "lomotif-staging" folder"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Create a Lomotif
3. Click on Export
4. The lomotif is saved in the folder "lomotif-staging"
5. Now open "lomotif-staging" folder
6. Observe the Thumbnail (Album art) for "lomotif-staging" folder

Expected Result: Thumbnail (Album art) should be available in "lomotif-staging" folder for created lomotif

Actual Result: Thumbnail (Album art) not ava

[2016-04-29 18:43] hiteshbheda commented on #166
@xiuie I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

Actually, on create screen lomotif is continue loading but application does not crash

[2016-04-29 18:44] hiteshbheda commented on #165
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-29 18:47] hiteshbheda commented on #163
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-29 18:49] hiteshbheda commented on #162
@xiuie I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-29 18:58] vysohanych commented on #131
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 19:04] vysohanych commented on #133
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 19:20] vysohanych commented on #134
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 19:48] vysohanych commented on #135
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1. but continuously loading exporting process appears now

[2016-04-29 19:55] vysohanych opened #170 "[1.0.19.1] Asus Nexus 7 / Android 5.1.1 - Add Photos & Videos - No motifs under the search term '#wcw' when user opens #wcw folder"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Tap on the search field on  Add Photos & Videos screen
4. Open the #wcw folder Add Photos & Videos screen

Actual result: 'No motifs under the search term '#wcw'' error appears

Expected result: User should see at least one motif in the current folder

![screenshot_2016-04-29-22-54-31](https://cloud.githubus

[2016-04-29 19:59] vysohanych commented on #38
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-29 19:59] vysohanych commented on #136
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 04:36] hiteshbheda commented on #170
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 04:38] hiteshbheda commented on #161
@xiuie I can't replicate this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 04:41] hiteshbheda commented on #160
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 04:43] hiteshbheda commented on #159
@xiuie I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 04:44] hiteshbheda commented on #158
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 04:49] hiteshbheda commented on #156
@xiuie @jpaulo1205 I can't replicate the same issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

**But when I'm trying to follow mentioned steps then it's continuous loading but no crashing**

[2016-04-30 05:05] testershub opened #171 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - No motifs under the search term '#mcm' when user opens #mcm folder."
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Tap on the search field on Add Photos & Videos screen
4. Open the #mcm folder and check if there are any motifs in that folder.

Expected result: User should see at least one motif in the folder.

Actual result: There are no motifs in #mcm folder.

[2016-04-30 05:06] testershub commented on #171
![mcm](https://cloud.githubusercontent.com/assets/18608449/14933996/680c1822-0ebf-11e6-8519-2b51d8a3f04e.jpg)

[2016-04-30 05:11] hiteshbheda commented on #154
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 05:13] hiteshbheda commented on #153
@xiuie @pmtheint I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 05:17] testershub opened #172 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - Blank folder name is displayed under "winter sport" folder."
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Tap on the search field on Add Photos & Videos screen
4. Scroll down till "Winter Sports" folder and check if there is blank folder displayed under "Winter Sports" folder.

Expected result: User should be able to see the folder name and content inside the folder.

Actual result: User neither is able to see t

[2016-04-30 05:22] testershub commented on #172
![blank_folder_name](https://cloud.githubusercontent.com/assets/18608449/14934042/8cb9ac14-0ec1-11e6-8d21-04726bab5ec5.jpg)

[2016-04-30 05:29] testershub opened #173 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - No thumbnails are displayed to the videos beneath "Winter Sports" folder."
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Tap on the search field on Add Photos & Videos screen
4. Scroll down till "Winter Sports" folder and check if the thumbnails are displayed beneath that folder.

Expected result: User should be able to see the thumbnails of all the folders.

Actual result: Blank thumbnails are displayed beneath "Winter Sports

[2016-04-30 05:29] testershub commented on #173
![thumb_nail](https://cloud.githubusercontent.com/assets/18608449/14934070/a6f4450c-0ec2-11e6-90d6-b3aa71924cd8.jpg)

[2016-04-30 05:40] testershub opened #174 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - Duplicate videos are displayed in "bts" folder."
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Tap on the search field on Add Photos & Videos screen
4. Scroll down and tap on "bts" folder and check if duplicate videos are displayed in the folder.

Expected result: Duplicate videos should not be displayed in "bts" folder.

Actual result: Duplicate videos are displayed in "bts" folder.
Note:
-Please ref

[2016-04-30 05:41] testershub commented on #174
![duplicate_1](https://cloud.githubusercontent.com/assets/18608449/14934113/32565be8-0ec4-11e6-85d9-43d7f352e9b2.jpg)
![duplicate_2](https://cloud.githubusercontent.com/assets/18608449/14934112/32551788-0ec4-11e6-90c8-bdcf371763cb.jpg)

[2016-04-30 05:47] hiteshbheda commented on #174
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

I think it's not only happening with "bts" folder but many other folders as well

[2016-04-30 05:50] hiteshbheda commented on #171
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

Similar to #170 . I think it's because of database items

[2016-04-30 05:52] hiteshbheda commented on #172
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 05:53] hiteshbheda commented on #173
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 05:54] testershub opened #175 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - Videos in the folder "awkwardmoments" are getting disappeared when user opens the folder."
Frequency: Every Time.

Action:
1: Launch lomotif.
2: Tap on "START" button.
3: Tap on the search field on Add Photos & Videos screen
4. Scroll down and tap on "awkwardmoments" folder and check if duplicate videos are displayed in the folder.

Expected result: Videos should not get disappeared when user taps on "awkwardmoments" folder.

Actual result: Videos on "awkwardmoments" folder are getting

[2016-04-30 05:56] testershub commented on #175
Please see the same is observed for the following folders:
1: unglam
2: existentialcrisis
3: schooltips
4: rupertgrint
5: hopsital
6: backview

[2016-04-30 06:15] testershub opened #176 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - User is not able to search the music on "Add Music" screen."
Frequency: Every Time.

Action:
1: Launch lomotif.
2: Tap on "START" button.
3: Select any image/video on Add Photos & Videos screen and proceed further.
4: Tap on search field and type in "Seven years" search the song.
5. Check if user is able to search the songs.

Expected result: User should be able to search the desired song by entering song name in the search field.

Actual result: User is no

[2016-04-30 06:15] testershub commented on #176
![search_music](https://cloud.githubusercontent.com/assets/18608449/14934263/06c4724e-0ec9-11e6-87ec-7980fb1d99bf.jpg)

[2016-04-30 06:30] testershub opened #177 "[1.0.19.1] Samsung Galaxy Note 2/4.4.2- Continuos loading process is displayed when user try to change music from "Add Music" list."
Frequency: Every Time

Action:
1. Launch the application.
2. Tap on "Start" button.
3. Select any image and tap on "Next"(>) button.
4. Reach to "Add Music" screen.
5. Select any music from "Add Music" section and tap on "Next" button.
6. Reach to "Create" screen.
7. Tap on "Music" icon and again reach to "Add Music" screen.
8. Again select another song from list and tap on "Next" button.
9. Check

[2016-04-30 06:33] testershub opened #178 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - Videos in "moutain" folder are getting disappeared when user scrolls in the folder till the bottom."
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button on the home screen
3. Tap on the search field and search "moutain" folder on Add Photos & Videos screen
4. Scroll down till the bottom and check if videos in the folder are getting disappeared.

Expected result: Videos in the folder should not get disappeared when user scrolls down till the bottom.

Actual result: Videos are gett

[2016-04-30 06:34] hiteshbheda commented on #176
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 06:37] hiteshbheda commented on #178
@xiuie Similar to #175

[2016-04-30 06:38] hiteshbheda commented on #175
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-04-30 06:41] hiteshbheda commented on #177
@xiuie I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

Duplicate of #162

[2016-04-30 06:57] testershub opened #179 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - User is not able to share a lomotif via "Messaging" option. Error message "Unable to attach file" is displayed when user taps on "Messaging" option."
Frequency: Every Time.

Preconditions:
-User should have at least one lomotif saved and it should be displayed on "Launch" screen.

Action:
1: Launch Lomotif
2: Tap on saved lomotif.
3: User will be navigated to the "Create" screen.
4: Tap on "Export" option and tap on "Messaging" option.
5: Check if user is able to send the lomotif via messaging.

Expected result: User should be able to send the

[2016-04-30 06:58] testershub commented on #179
![messaging](https://cloud.githubusercontent.com/assets/18608449/14934486/08476896-0ecf-11e6-96b3-ad0f6f6af228.jpg)

[2016-04-30 07:50] testershub opened #180 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - Irrelevant "ChatON" option is displayed on share list."
Frequency: Every Time.

Preconditions:
-User should have at least one lomotif saved and it should be displayed on "Launch" screen.

Action:
1: Launch Lomotif
2: Tap on saved lomotif.
3: User will be navigated to the "Create" screen.
4: Tap on "Export" option and check if irrelevant option "ChatON" is displayed.

Expected result: Irrelevant option "ChatON" should not be me displayed in the share li

[2016-04-30 07:52] testershub commented on #180
![chaton](https://cloud.githubusercontent.com/assets/18608449/14934688/81a45080-0ed6-11e6-8d5d-597a7b4a4d2c.jpg)

[2016-04-30 07:53] testershub opened #181 "[1.0.19.1] Samsung Galaxy Note 2/4.4.2- Application crashes when user taps on recently added video."
Frequency: 6/10

Action:
1. Launch the application.
2. Tap on "Start" button.
3. Tap on "Search" field.
4. Video list will be displayed.
5. Tap on any video album.e.g."nicki minaj".
6. Select any one video from list.
7. Tap on "Next(>)" button and reach to "Add Music" screen.
9. Tap on "Next" button without selecting music.
10. Warning message will be displayed, tap on "OK" button.
11. Reach to "C

[2016-04-30 07:58] testershub commented on #181
Please refer attached crash log-
[#181_Crash log.txt](https://github.com/Lomotif/lomotif-android-issues/files/243499/181_Crash.log.txt)

[2016-04-30 12:17] testershub opened #182 "[1.0.19.1] Samsung Galaxy Note 2/4.4.2- Application crashes when user try to export a single lomotif which has more than 3-4 videos."
Frequency: Every time

Action:
1. Launch the application.
2. Tap on "Start" button.
3. Tap on "Search" field.
4. Video list will be displayed.
5. Tap on any video album.e.g."nicki minaj".
6. Select more than 3-5 videos from album list.
7. Tap on "Next(>)" button.
8. Reach to "Add Music" screen.
9. Select any music and wait music will be starts.
10. Tap on "Next" button.
11. Reach to "Create" scree

[2016-04-30 12:28] testershub opened #183 "[1.0.19.1] Samsung Galaxy S4/5.0.1, Samsung Galaxy Note4/5.0.1 - Blank vidoes are displayed on Motifs screen."
Frequency: Every Time.

Action:
Action:
1: Launch Lomotif
2: Tap START button on the home screen.
3: User will be navigated to "Add Photos & Videos" screen.
4: Tab on the search bar and enter "animated halloween"
5: Scroll down and check if the highlighted videos in the attached screenshot are displayed.

Expected result: Highlighted videos in the screenshot should be displayed.

Actual result: Bl

[2016-04-30 12:29] testershub commented on #183
![video_blank](https://cloud.githubusercontent.com/assets/18608449/14935824/37de2ada-0efd-11e6-9882-f4dcb5b2db7e.jpg)

[2016-04-30 12:30] testershub commented on #182
Please checked attached log-
[#182_Crash_log.txt](https://github.com/Lomotif/lomotif-android-issues/files/243591/182_Crash_log.txt)

[2016-04-30 19:20] xiuie commented on #160
@archanaoswal Instagram outputs as a square format and Lomotif is Landscape. Works as designed.

[2016-04-30 19:20] #160 closed, assigned to nobody

[2016-04-30 19:21] xiuie commented on #161
Anyone else experience this? If it is hard to reproduce will just close it for now.

[2016-04-30 19:24] xiuie commented on #164
If we can't display it, we can filter it out for now. @jpaulo1205

[2016-04-30 19:25] xiuie commented on #165
@testershub @hiteshbheda What does virtual shot image mean? Do you mean virtually-stored image?

[2016-04-30 19:27] xiuie commented on #166
@Dipamit Thanks! Can you send us the crash log and video that can't be displayed please?

[2016-04-30 19:28] #167 closed, assigned to nobody

[2016-04-30 19:28] #168 closed, assigned to nobody

[2016-04-30 19:32] xiuie commented on #176
@testershub @hiteshbheda Does this happen for all search terms? Do you mean you can never search for a song?

[2016-04-30 19:32] #177 closed, assigned to nobody

[2016-04-30 19:46] hiteshbheda commented on #165
@xiuie Yes Xiu, it's virtually stored image

[2016-04-30 19:48] hiteshbheda commented on #161
@xiuie No Xiu, I have not experienced it in build 1.0.19.1

[2016-04-30 19:51] hiteshbheda commented on #176
@xiuie No it's random. It's not for all songs

[2016-04-30 19:53] hiteshbheda commented on #160
@xiuie Agree with you Xiu

[2016-04-30 20:29] vysohanych commented on #137
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 20:35] vysohanych commented on #138
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 20:47] vysohanych commented on #140
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 20:54] vysohanych commented on #141
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 21:01] vysohanych commented on #142
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 21:05] vysohanych commented on #143
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 21:07] vysohanych commented on #144
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 21:16] vysohanych commented on #145
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 21:18] vysohanych commented on #146
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 21:31] vysohanych commented on #147
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-04-30 21:44] vysohanych commented on #150
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 03:25] xiuie commented on #180
@testershub What happens if you click it? If there's a appropriate error message I will close this bug. Based on the screenshot there are other irrelevant icons?

[2016-05-01 03:28] #171 closed, assigned to nobody

[2016-05-01 03:29] #178 closed, assigned to nobody

[2016-05-01 03:29] hiteshbheda commented on #147
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-01 03:30] #183 closed, assigned to nobody

[2016-05-01 03:32] hiteshbheda commented on #142
@xiuie @jpaulo1205 I can't replicate this issue for android app build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-01 03:36] hiteshbheda commented on #143
@xiuie @jpaulo1205 I can reproduce this issue for android app build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-01 04:15] hiteshbheda commented on #144
@xiuie I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-01 04:16] hiteshbheda commented on #145
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-01 04:17] hiteshbheda commented on #146
@xiuie I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-01 04:17] hiteshbheda commented on #138
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-01 04:18] hiteshbheda commented on #140
@xiuie @jpaulo1205 I can still reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-01 07:59] vysohanych commented on #151
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 08:09] vysohanych commented on #152
I can reproduce it with my local folder 'Samples' on device on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

![screenshot_2016-05-01-11-06-06](https://cloud.githubusercontent.com/assets/3593359/14940798/2a417388-0f8d-11e6-9446-c6ca323823e9.png)

[2016-05-01 08:18] vysohanych commented on #153
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 08:24] vysohanych commented on #154
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 08:29] vysohanych commented on #155
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 08:33] vysohanych commented on #156
I still can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 11:39] vysohanych commented on #158
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 11:44] vysohanych commented on #159
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 11:45] Dipamit commented on #166
@xiuie  Please find attachment for Crash Log and Video.
[Crash Log.zip](https://github.com/Lomotif/lomotif-android-issues/files/244085/Crash.Log.zip)
[Crash Video.zip](https://github.com/Lomotif/lomotif-android-issues/files/244086/Crash.Video.zip)

[2016-05-01 11:50] vysohanych commented on #161
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 12:00] vysohanych commented on #162
Seems it's the duplicate of #133 I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 12:07] vysohanych commented on #163
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 12:12] vysohanych commented on #166
It's duplicate of #156

[2016-05-01 12:15] vysohanych commented on #169
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 12:25] vysohanych commented on #172
It's expected behavior. The same issue on iOS build https://github.com/Lomotif/lomotif-ios-issues/issues/251

[2016-05-01 12:30] vysohanych commented on #173
It's expected behavior. The same issue on iOS build https://github.com/Lomotif/lomotif-ios-issues/issues/256

[2016-05-01 12:37] vysohanych commented on #175
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 12:40] vysohanych commented on #176
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 12:59] vysohanych commented on #181
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 13:03] vysohanych commented on #182
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-01 15:09] ukrpas commented on #161
i can`t reproduce this again

[2016-05-02 05:01] testershub commented on #180
@xiuie Users is displayed with ChatON information screen with "Samsung Account" button. User is displayed with network error message as soon as the user taps on the "Samsung Account" button(it is because the service has been shutdown).

Note:
Please refer the attached screenshot for more information.

[2016-05-02 05:02] testershub commented on #180
![chaton_1](https://cloud.githubusercontent.com/assets/18608449/14947433/2002e69e-1051-11e6-818e-79ad71751236.jpg)
![chaton_2](https://cloud.githubusercontent.com/assets/18608449/14947434/202f9284-1051-11e6-88da-5227a4dbab04.jpg)

[2016-05-02 05:06] testershub commented on #176
@xiuie It is observed for all the songs which are not available there in the song list. The song is displayed to the user when user enters a song name that is available there in the list. But when user enters a song that is not available there in the list then user is displayed with the message "No music under the search term <'song name'>"

[2016-05-02 05:55] testershub commented on #165
@xiuie No these are not virtually stored images (images are stored in the device only), but it's a way to capture a whole series of moments in 360 degrees.

[2016-05-02 06:04] testershub opened #184 "[1.0.19.1] Samsung Galaxy Note 2/4.4.2, Samsung Galaxy Note4/5.0.1- Application crashes when user selects three or more videos second time from "Lomotif-Staging" folder."
Frequency: Everytime

Action:
Precondition: User should have "Lomotif-Staging" folder which have created some Lomotif videos earlier.
1. Launch the application.
2. Tap on "Start" button.
3. Tap on "Lomotif-Staging" folder.
4. Video list will be displayed.
5. Select any one video from list.
6. Tap on "Next(>)" button and reach to "Add Music" screen.
7. Tap on "Next" button without selecting music.

[2016-05-02 06:14] testershub commented on #184
Please check attached log-
[#184_Crash log.txt](https://github.com/Lomotif/lomotif-android-issues/files/244579/184_Crash.log.txt)

[2016-05-02 06:28] hiteshbheda commented on #182
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-02 06:31] hiteshbheda commented on #181
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-02 06:37] hiteshbheda commented on #179
@xiuie @jpaulo1205 **I can replicate this issue but with different Alert / Warning Message** for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

Please find attached image which i have received during Sharing on Messaging.

![screenshot_2016-05-02-12-04-47](https://cloud.githubusercontent.com/assets/9691390/14948497/7c0b34c0-105e-11e6-863a-f20456cb0e97.png)

[2016-05-02 07:06] testershub opened #185 "[1.0.19.1] Samsung Galaxy Note 2/4.4.2, Samsung Galaxy Note4/5.0.1, Samsung Galaxy S4/5.0.1- Application crashes when user selects a video (which has no thumbnail) from "Lomotif" folder and taps on next button on "Add Music" screen."
Frequency: Everytime

Action:
Precondition: User should have "Lomotif" folder on "Add Photos & Videos" screen which have created some Lomotif videos earlier.
User should have at least one video which doesn't have thumbnail (i.e when user try to play this video it displays "Can't play this video" message.
1. Launch the application.
2. Tap on "Start" button.
3. Tap on "Lomotif" folder.
4. Video list

[2016-05-02 07:08] testershub commented on #185
Please check attached log-
[#185_crash_log.txt](https://github.com/Lomotif/lomotif-android-issues/files/244628/185_crash_log.txt)

[2016-05-02 09:20] hiteshbheda opened #186 "[1.0.19.1] Asus Zenfone Go 4.5 / Android 5.1 - Multiple media sharing Bug - Exporting multiple media for sharing at same time"
Frequency: Every time

Action:
1. Launch Lomotif
2. Open any existing lomotif
3. Click on export at Top Right corner
4. Click on WhatsApp and Twitter button at same time
5. Observe the effect

Expected result: ClickING on WhatsApp and Twitter at the same time should not be permitted. It should open any one media.

Actual result: Effects apply to both WhatsApp and Twitter during clicking at the sam

[2016-05-02 09:26] hiteshbheda commented on #185
@xiuie Duplicate of #166 and Similar to #156

I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

**But, on create screen lomotif is continue loading but application does not crash**

[2016-05-02 09:30] hiteshbheda commented on #184
@xiuie I can't replicate the same issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

**Actually, when I'm trying to follow mentioned steps then it's continuous loading / processing but application doesn't crash**

[2016-05-02 09:50] hiteshbheda opened #187 "[1.0.19.1] Asus Zenfone Go 4.5 / Android 5.1 - Delete and Opening apply parallely - At Home screen, select two lomotif by clicking on Delete button and lomotif icon"
Frequency: Every time

Action:
1. Launch Lomotif
2. At Home screen, Click on any created lomotif's Delete (X) button and at same time click on another lomotif's thumbnail
3. Check the effect on the screen

Expected result: Either one lomotif should be opened OR lomotif should be deleted, But both the operations should not be possible at same time

Actual result: Deleting and Opening selected lomot

[2016-05-02 11:28] hiteshbheda commented on #172
@xiuie Agree with @vysohanych

[2016-05-02 11:39] hiteshbheda commented on #136
@xiuie @jpaulo1205 It's a duplicate of #38

[2016-05-02 11:40] hiteshbheda commented on #38
@xiuie @jpaulo1205 I can still reproduce this issue for android app build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-02 11:41] hiteshbheda commented on #135
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-02 11:42] hiteshbheda commented on #127
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-02 11:46] hiteshbheda commented on #123
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-02 11:47] hiteshbheda commented on #112
@xiuie @jpaulo1205 I can't reproduce this issue for android app build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-02 11:50] hiteshbheda commented on #111
@xiuie @jpaulo1205 I can reproduce this issue for android build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-02 13:15] testershub opened #188 "[1.0.19.1] Samsung Galaxy Tab S2/5.0.2- Application crashes when user added a video from "Camera" folder and try to "Export" it."
Frequency: Everytime

Action:
Precondition: User should have at least one video in "Camera" folder.
1. Launch the application.
2. Tap on "Start" button.
3. Tap on "Camera" folder.
4. Select any one video.
5. Tap on "Next(>)" button and reach to "Add Music" screen.
6. Tap on "Next" button without selecting music.
7. Warning message will be displayed, tap on "OK" button.
8. Reach to "Create" screen.

[2016-05-02 13:48] testershub commented on #188
Please refer attached crash log-
[#188_Crash log.txt](https://github.com/Lomotif/lomotif-android-issues/files/245171/188_Crash.log.txt)

[2016-05-02 16:48] #185 closed, assigned to nobody

[2016-05-03 04:45] hiteshbheda commented on #188
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Nexus 7 Android 5.1.1.

Similar to #150 #131

[2016-05-03 07:24] vysohanych commented on #188
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-05 16:32] hiteshbheda commented on #110
@xiuie @jpaulo1205  I can't reproduce it on build 1.0.19.1 on Asus Zenfone / Android 5.1.

[2016-05-05 16:34] hiteshbheda commented on #97
@xiuie @jpaulo1205 I can't reproduce it on build 1.0.19.1 on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-05 16:44] hiteshbheda commented on #95
@xiuie @jpaulo1205 I can't reproduce this bug for build 1.0.19.1 on Asus Zenfone Go 4.5 / Android 5.1.

[2016-05-05 16:50] hiteshbheda commented on #92
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-05 16:52] hiteshbheda commented on #25
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-05 17:00] hiteshbheda commented on #89
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-05 17:44] hiteshbheda commented on #84
@xiuie @pmtheint I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-05 17:45] hiteshbheda commented on #83
@xiuie @jpaulo1205 I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-05 17:50] hiteshbheda commented on #82
@xiuie @jpaulo1205  I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-05 18:00] hiteshbheda commented on #79
@xiuie @jpaulo1205  I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-05 18:11] hiteshbheda commented on #71
@xiuie @pmtheint I can reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1.

[2016-05-05 18:13] hiteshbheda commented on #70
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1.

[2016-05-05 18:15] hiteshbheda commented on #61
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1.

[2016-05-05 18:15] hiteshbheda commented on #53
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1.

[2016-05-07 12:14] vysohanych commented on #184
I can't reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-07 12:27] vysohanych commented on #186
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-07 12:34] vysohanych commented on #187
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-07 15:19] hiteshbheda opened #189 "[1.0.19.1] Asus Zenfone Go 4.5 / Android 5.1 - Black frame appears at create screen - Create lomotif using motif from romance folder"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Tap START button
3. Switch to Motif tab by clicking on search bar
4. Open romance folder
5. Select seventh motif
6. Tap apply button on the Albums screen
7. Select any song on the Add Music screen
8. Tap apply button on the Add Music screen
9. Click on the added motif

Expected result: User should be able to see correct frames

Actual result: Bla

[2016-05-07 15:39] hiteshbheda commented on #59
@xiuie @jpaulo1205 I can't reproduce it on build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-07 15:42] hiteshbheda commented on #58
@xiuie @jpaulo1205 I can still replicate this issue of overlapping for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-07 15:46] hiteshbheda commented on #57
@xiuie @jpaulo1205 I can't reproduce it on build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-07 15:49] hiteshbheda commented on #48
@xiuie @jpaulo1205 I can't reproduce it on build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-07 15:56] hiteshbheda commented on #45
@xiuie @jpaulo1205 I can't reproduce it on build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-07 15:59] hiteshbheda commented on #44
@xiuie @jpaulo1205 I can't reproduce it on build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-07 22:35] xiuie commented on #189
Does this happen in iOS or only on Android. Does the video preview (when watching the exported video have black frames?) Could this be the issue of the clip itself? @hiteshbheda

[2016-05-08 06:14] hiteshbheda commented on #189
@xiuie This happens with both iOS and Android but the behavior is different in both OS apps.

**In iOS App, all frames of the motifs are black. While in Android App, for the same motif, only first frame is Black.**

More over that, even other motifs for Romance category are also having the same problems.

![22](https://cloud.githubusercontent.com/assets/9691390/15096364/3bdb3ebe-1512-11e6-924d-993

[2016-05-09 13:46] hiteshbheda commented on #37
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-09 13:48] hiteshbheda commented on #36
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-09 13:49] hiteshbheda commented on #35
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-09 13:50] hiteshbheda commented on #33
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-09 13:55] hiteshbheda commented on #6
@xiuie @jpaulo1205 I can't reproduce this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-09 15:55] vysohanych commented on #189
I can reproduce it on build 1.0.19.1 on Asus Nexus 7 Android 5.1.1.

[2016-05-11 17:29] hiteshbheda commented on #26
@xiuie @jpaulo1205 @paulyangzhiwen I can't replicate this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-11 17:31] hiteshbheda commented on #22
@xiuie @jpaulo1205 @pmtheint I can't replicate this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-11 17:33] hiteshbheda commented on #17
@xiuie @jpaulo1205 I can't replicate this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-05-11 17:37] hiteshbheda commented on #12
@xiuie @jpaulo1205 @pmtheint I can't replicate this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

**But still for the first song "Getting There" song is able to add without internet.**

[2016-05-11 17:42] hiteshbheda commented on #11
@xiuie @jpaulo1205 I can't replicate this issue for build [1.0.19.1] on Asus Zenfone Go 4.5 / Android 5.1

[2016-06-02 17:18] vysohanych opened #190 "[1.1.1 (20)] Samsung Galaxy Tab S 10.5 / Android 4.4.2 - Create - Selected position's place is not saved in the video steam"
Frequency: Every Time

Action:
1. Open the application
2. Tap START button on the home screen
3. Select some motifts on the Motif tab from the Add Photos & Videos screen
4. Tap next button on top rignt corner on the Albums screen
5. Tap next button on top rignt corner on the Add Music screen
6. Tap OK button on the confirmation dialog
7. Change the position in any video and tap apply button on the

[2016-06-02 17:41] vysohanych opened #191 "[1.1.1 (20)] Samsung Galaxy Tab S 10.5 / Android 4.4.2 - Create - Loading never ends on the Create screen"
Frequency: Every Time

Action:
1. Open the application
2. Tap START button on the home screen
3. Select some motifts on the Motif tab from the Add Photos & Videos screen
4. Tap next button on top right corner on the Albums screen
5. Select any song on the Add Music screen
6. Tap next button on top right corner on the Add Music screen

Expected result: Video should automatically starts on the Creat

[2016-06-03 12:04] Dipamit commented on #191
I am able to reproduce this issue on Xiaomi Red Mi Note 3/5.1.1 and Motorola Nexus 6/Marshmallow 6.0.1 for build [1.1.1(20)]

[2016-06-03 12:07] Dipamit commented on #190
Able to reproduce this issue on Xiaomi Red Mi Note 3/5.1.1 and Motorola Nexus 6/Marshmallow 6.0.1 for build [1.1.1(20)]

[2016-06-09 06:52] hiteshbheda commented on #190
@xiuie I can reproduce this issue for version 1.1.1 and build 20 on Asus Zenfone Go 4.5 / Android 5.1

[2016-06-09 07:00] hiteshbheda commented on #191
@xiuie I can reproduce this issue for version 1.1.1 build 20 on Asus Zenfone Go 4.5 / Android 5.1

[2016-06-09 07:13] hiteshbheda opened #192 "[1.1.1 (20)] Asus Zenfone Go 4.5 / Android 5.1 - Loading never ending - Open any existing lomotif created on build [1.0.19.1] or earlier version"
Frequency: Every Time

Action:
1. Launch Lomotif
2. Open any existing lomotif created on build [1.0.19.1] or earlier version
3. Check whether lomotif opens or not

Expected result: Selected lomotif should be opened

Actual result: Lomotif is not opening - Its continue loading